In [2]:
from mthly_inforce_file import InforceFile
from pandas import DataFrame as df
from typing import Optional, Union
from datetime import datetime, date
from pathlib import Path
import pandas as pd
from os import path
import datetime
import typing
import time
import os

pd.options.display.float_format = "{:,.2f}".format
pd.options.mode.copy_on_write = True

%load_ext autoreload
%autoreload 2

In [3]:
inforce_file = r'C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\12_2024_IUL_Fund_Values_RGA.txt'
rename_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Inforce_FieldName_Map.csv'
hdgdts_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HedgeDates.csv'
hdgfctr_lu_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HdgFctrLU.csv'

In [4]:
test_inf = pd.read_csv(inforce_file, sep='\t')

In [85]:
test_inf.to_clipboard()

In [134]:
test_inf[test_inf['TCH_POL_ID'].str.startswith('U0978637')]
# test_inf[test_inf['TCH_POL_ID'].str.startswith('UE000006')]
# test_inf[test_inf['TCH_POL_ID'].str.startswith('UE000011')]
# test_inf[test_inf['TCH_POL_ID'].str.startswith('U0964987')]

,TCH_POL_ID,CK_CMP_CD,PLN_DES_SER_CD,FND_ID_CD,ITS_PER_STR_DT,FND_VAL_PHA_NBR,VAL_CUR_ASOF_DT,CSV_AMT,TOT_CRE_ITS_AMT
1673371,U0978637,1,1U146800,IR,2023-11-01,32,2024-11-01,NaN,211.20
1673372,U0978637,1,1U146800,IR,2023-11-01,32,2024-12-01,NaN,211.20
1673373,U0978637,1,1U146800,IR,2023-12-01,33,2024-11-01,"1,121.51",NaN
1673374,U0978637,1,1U146800,IR,2023-12-01,33,2024-12-01,NaN,215.33
1673375,U0978637,1,1U146800,IR,2024-01-01,34,2024-11-01,"1,121.31",NaN
1673376,U0978637,1,1U146800,IR,2024-01-01,34,2024-12-01,"1,121.31",NaN
1673377,U0978637,1,1U146800,IR,2024-02-01,35,2024-11-01,893.77,NaN
1673378,U0978637,1,1U146800,IR,2024-02-01,35,2024-12-01,893.77,NaN
1673379,U0978637,1,1U146800,IR,2024-03-01,36,2024-11-01,"1,102.53",NaN
1673380,U0978637,1,1U146800,IR,2024-03-01,36,2024-12-01,"1,102.53",NaN
1673381,U0978637,1,1U146800,IR,2024-04-01,37,2024-11-01,"1,545.36",NaN
1673382,U0978637,1,1U146800,IR,2024-04-01,37,2024-12-01,711.81,NaN
1673383,U0978637,1,1U146800,IR,2024-05-01,38,2024-11-01,"1,488.08",NaN
1673384,U0978637,1,1U146800,IR,2024-05-01,38,2024-12-01,NaN,NaN
1673385,U0978637,1,1U146800,IR,2024-06-01,39,2024-11-01,"1,513.35",NaN
1673386,U0978637,1,1U146800,IR,2024-06-01,39,2024-12-01,NaN,NaN
1673387,U0978637,1,1U146800,IR,2024-07-01,40,2024-11-01,"1,617.71",NaN
1673388,U0978637,1,1U146800,IR,2024-07-01,40,2024-12-01,NaN,NaN
1673389,U0978637,1,1U146800,IR,2024-08-01,41,2024-11-01,"1,606.05",NaN
1673390,U0978637,1,1U146800,IR,2024-08-01,41,2024-12-01,NaN,NaN
1673391,U0978637,1,1U146800,IR,2024-09-01,42,2024-11-01,"1,616.20",NaN
1673392,U0978637,1,1U146800,IR,2024-09-01,42,2024-12-01,NaN,NaN
1673393,U0978637,1,1U146800,IR,2024-10-01,43,2024-11-01,"1,614.86",NaN
1673394,U0978637,1,1U146800,IR,2024-10-01,43,2024-12-01,NaN,NaN
1673395,U0978637,1,1U146800,IR,2024-11-01,44,2024-11-01,"1,589.42",NaN
1673396,U0978637,1,1U146800,IR,2024-11-01,44,2024-12-01,NaN,NaN

In [90]:
test_inf[test_inf['CSV_AMT'].isna()]

,TCH_POL_ID,CK_CMP_CD,CK_SYS_CD,CSV_AMT,FND_ID_CD,FND_VAL_PHA_NBR,ITS_PER_STR_DT,ITS_PER_END_DT,MVRY_DT,TOT_CRE_ITS_AMT,VAL_CUR_ASOF_DT,PLN_BSE_SRE_CD,LIF_PLN_SUB_SRE_CD,PLN_DES_SER_CD,INS_CLS_CD,SVC_AGC_NBR,PRM_PAY_STA_REA_CD,FUZGREIN_IND
0,UE000006 PU11,1,I,NaN,IC,82,2023-11-01,2799-12-31,2024-11-23,19.65,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
13,UE000006 PU11,1,I,NaN,IF,82,2023-11-01,2799-12-31,2024-11-23,65.01,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
26,UE000011 JOVV,1,I,NaN,IC,84,2023-11-01,2799-12-31,2024-11-09,21.05,2024-11-09,455,MN,1U145500,1,199F0JOE00,22,R
27,UE000011 JOVV,1,I,NaN,IC,84,2023-11-01,2799-12-31,2024-12-09,21.05,2024-12-09,455,MN,1U145500,1,199F0JOE00,22,R
29,UE000011 JOVV,1,I,NaN,IC,85,2023-12-01,2799-12-31,2024-12-09,21.06,2024-12-09,455,MN,1U145500,1,199F0JOE00,22,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698192,U0981838 R3CB,1,I,NaN,IX,1,2023-11-01,2799-12-31,2024-12-01,907.01,2024-12-01,478,MN,1U147800,1,794D0ZPO00,22,R
1698487,U0981883 HT21,1,I,NaN,M1,2,2023-11-01,2799-12-31,2024-11-02,40.14,2024-11-02,478,MN,1U147800,1,189C01MT00,22,R
1698488,U0981883 HT21,1,I,NaN,M1,2,2023-11-01,2799-12-31,2024-12-02,40.14,2024-12-02,478,MN,1U147800,1,189C01MT00,22,R
1698490,U0981883 HT21,1,I,NaN,M1,3,2023-12-01,2799-12-31,2024-12-02,29.45,2024-12-02,478,MN,1U147800,1,189C01MT00,22,R
1699880,U0982083 W8HG,1,I,NaN,M1,1,2023-12-01,2799-12-31,2024-12-08,163.45,2024-12-08,478,MN,1U147800,1,189C0JGF00,22,R

In [91]:
test_inf

,TCH_POL_ID,CK_CMP_CD,CK_SYS_CD,CSV_AMT,FND_ID_CD,FND_VAL_PHA_NBR,ITS_PER_STR_DT,ITS_PER_END_DT,MVRY_DT,TOT_CRE_ITS_AMT,VAL_CUR_ASOF_DT,PLN_BSE_SRE_CD,LIF_PLN_SUB_SRE_CD,PLN_DES_SER_CD,INS_CLS_CD,SVC_AGC_NBR,PRM_PAY_STA_REA_CD,FUZGREIN_IND
0,UE000006 PU11,1,I,NaN,IC,82,2023-11-01,2799-12-31,2024-11-23,19.65,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
1,UE000006 PU11,1,I,231.18,IC,83,2023-12-01,2799-12-31,2024-11-23,NaN,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
2,UE000006 PU11,1,I,230.15,IC,84,2024-01-01,2799-12-31,2024-11-23,NaN,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
3,UE000006 PU11,1,I,235.35,IC,85,2024-02-01,2799-12-31,2024-11-23,NaN,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
4,UE000006 PU11,1,I,273.14,IC,86,2024-03-01,2799-12-31,2024-11-23,NaN,2024-11-23,455,FN,1U145500,1,76EE08HX00,22,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700641,U0982392 X9IH,1,I,6.97,IP,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478,FN,1U147800,1,79NV0CRX00,22,R
1700642,U0982392 X9IH,1,I,6.83,IR,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478,FN,1U147800,1,79NV0CRX00,22,R
1700643,U0982392 X9IH,1,I,7.12,IX,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478,FN,1U147800,1,79NV0CRX00,22,R
1700644,U0982392 X9IH,1,I,7.12,M1,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478,FN,1U147800,1,79NV0CRX00,22,R
1700645,U0982392 X9IH,1,I,7.18,NX,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478,FN,1U147800,1,79NV0CRX00,22,R

In [135]:
test_inf[test_inf['VAL_CUR_ASOF_DT']<date(2024, 12, 1)]

,TCH_POL_ID,CK_CMP_CD,PLN_DES_SER_CD,FND_ID_CD,ITS_PER_STR_DT,FND_VAL_PHA_NBR,VAL_CUR_ASOF_DT,CSV_AMT,TOT_CRE_ITS_AMT
0,UE000006,1,1U145500,IC,2023-11-01,82,2024-11-23,NaN,19.65
1,UE000006,1,1U145500,IC,2023-12-01,83,2024-11-23,231.18,NaN
2,UE000006,1,1U145500,IC,2024-01-01,84,2024-11-23,230.15,NaN
3,UE000006,1,1U145500,IC,2024-02-01,85,2024-11-23,235.35,NaN
4,UE000006,1,1U145500,IC,2024-03-01,86,2024-11-23,273.14,NaN
...,...,...,...,...,...,...,...,...,...
1700641,U0982392,1,1U147800,IP,2024-11-01,1,2024-11-26,6.97,NaN
1700642,U0982392,1,1U147800,IR,2024-11-01,1,2024-11-26,6.83,NaN
1700643,U0982392,1,1U147800,IX,2024-11-01,1,2024-11-26,7.12,NaN
1700644,U0982392,1,1U147800,M1,2024-11-01,1,2024-11-26,7.12,NaN
1700645,U0982392,1,1U147800,NX,2024-11-01,1,2024-11-26,7.18,NaN

In [136]:
# NOTE:  THIS IS A MUCH FASTER WAY TO PULL THE DATA.  HOWEVER, NEED TO CALC CURRENT INFORCE DATE AND USE THAT AS PARAM!
test_inf[test_inf['VAL_CUR_ASOF_DT']<date(2024, 12, 1)].groupby('ITS_PER_STR_DT').agg({'TCH_POL_ID':'count', 'CSV_AMT':'sum'})

                TCH_POL_ID       CSV_AMT
ITS_PER_STR_DT
2023-11-01           89702          0.00
2023-12-01           90575 54,663,770.94
2024-01-01           91723 58,751,787.54
2024-02-01           92853 59,874,784.08
2024-03-01           93775 55,703,016.87
2024-04-01           94949 56,604,214.85
2024-05-01           95770 53,714,416.99
2024-06-01           96762 52,880,223.64
2024-07-01           97677 63,052,655.94
2024-08-01           98210 58,957,980.57
2024-09-01           99004 60,257,097.85
2024-10-01           99617 69,745,247.97
2024-11-01          100596 70,529,136.11

In [141]:
inf_dt = date(2024, 11, 1)
test_inf_asof_nov = test_inf[test_inf['VAL_CUR_ASOF_DT']<date(2024, 12, 1)]
test_inf_asof_nov_2024_new = test_inf_asof_nov[test_inf_asof_nov['ITS_PER_STR_DT']==inf_dt]

In [144]:
len(test_inf_asof_nov_2024_new['TCH_POL_ID'].unique())

74665

In [92]:
test_inf.columns

Index(['TCH_POL_ID', 'CK_CMP_CD', 'CK_SYS_CD', 'CSV_AMT', 'FND_ID_CD',
       'FND_VAL_PHA_NBR', 'ITS_PER_STR_DT', 'ITS_PER_END_DT', 'MVRY_DT',
       'TOT_CRE_ITS_AMT', 'VAL_CUR_ASOF_DT', 'PLN_BSE_SRE_CD',
       'LIF_PLN_SUB_SRE_CD', 'PLN_DES_SER_CD', 'INS_CLS_CD', 'SVC_AGC_NBR',
       'PRM_PAY_STA_REA_CD', 'FUZGREIN_IND'],
      dtype='object')

In [123]:
# Applied functions
def get_min_row(group):
    return group.loc[group['VAL_CUR_ASOF_DT'].idxmin()]

def get_max_row(group):
    return group.loc[group['VAL_CUR_ASOF_DT'].idxmax()]

In [133]:
test_inf['ITS_PER_STR_DT'] = pd.to_datetime(test_inf['ITS_PER_STR_DT']).dt.date
test_inf['VAL_CUR_ASOF_DT'] = pd.to_datetime(test_inf['VAL_CUR_ASOF_DT']).dt.date
test_inf['TCH_POL_ID'] = test_inf.loc[:, 'TCH_POL_ID'].str.slice(0, 8)
test_inf['PLN_DES_SER_CD'] = test_inf.loc[:, 'PLN_DES_SER_CD'].str.strip()

kept_cols = ['TCH_POL_ID', 'CK_CMP_CD', 'PLN_DES_SER_CD', 'FND_ID_CD', 'ITS_PER_STR_DT', 'FND_VAL_PHA_NBR', 'VAL_CUR_ASOF_DT', 'CSV_AMT', 'TOT_CRE_ITS_AMT']
test_inf = test_inf[kept_cols]

groupby_cols = ['TCH_POL_ID', 'CK_CMP_CD', 'PLN_DES_SER_CD', 'FND_ID_CD', 'ITS_PER_STR_DT','FND_VAL_PHA_NBR']
grouped_data = test_inf.groupby(groupby_cols, as_index=False)

In [145]:
gd = test_inf.groupby(groupby_cols, as_index=True)
min_rbg_test = gd[kept_cols].apply(get_min_row)

In [146]:
min_rbg_test

                                                                             TCH_POL_ID  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147               U0600938
                                              2023-12-01     148               U0600938
                                              2024-01-01     149               U0600938
                                              2024-02-01     150               U0600938
                                              2024-03-01     151               U0600938
...                                                                                 ...
UPE00008   1         1U146400       IX        2024-07-01     66                UPE00008
                                              2024-08-01     67                UPE00008
                                              2024-09-01     68                UPE00008
                                              2024-10-01     69                UPE00008
                                              2024-11-01     70                UPE00008

                                                                              CK_CMP_CD  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                      1
                                              2023-12-01     148                      1
                                              2024-01-01     149                      1
                                              2024-02-01     150                      1
                                              2024-03-01     151                      1
...                                                                                 ...
UPE00008   1         1U146400       IX        2024-07-01     66                       1
                                              2024-08-01     67                       1
                                              2024-09-01     68                       1
                                              2024-10-01     69                       1
                                              2024-11-01     70                       1

                                                                             PLN_DES_SER_CD  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                   1U144600
                                              2023-12-01     148                   1U144600
                                              2024-01-01     149                   1U144600
                                              2024-02-01     150                   1U144600
                                              2024-03-01     151                   1U144600
...                                                                                     ...
UPE00008   1         1U146400       IX        2024-07-01     66                    1U146400
                                              2024-08-01     67                    1U146400
                                              2024-09-01     68                    1U146400
                                              2024-10-01     69                    1U146400
                                              2024-11-01     70                    1U146400

                                                                             FND_ID_CD  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                    IX
                                              2023-12-01     148                    IX
                                              2024-01-01     149                    IX
                                              2024-02-01     150                    IX
                                              2024-03-01     151                    IX
...                                                                                ...
UPE00008   1         1U146400       IX        2024-07-01     66                     IX
                                              2024-08-01     67                     IX
                                              2024-09-01     68                     IX
                                              2024-10-01     69                     IX
                                              2024-11-01     70                     IX

                                                                             ITS_PER_STR_DT  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                 2023-11-01
                                              2023-12-01     148                 2023-12-01
                                              2024-01-01     149                 2024-01-01
                                              2024-02-01     150                 2024-02-01
                                              2024-03-01     151                 2024-03-01
...                                                                                     ...
UPE00008   1         1U146400       IX        2024-07-01     66                  2024-07-01
                                              2024-08-01     67                  2024-08-01
                                              2024-09-01     68                  2024-09-01
                                              2024-10-01     69                  2024-10-01
                                              2024-11-01     70                  2024-11-01

                                                                              FND_VAL_PHA_NBR  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                          147
                                              2023-12-01     148                          148
                                              2024-01-01     149                          149
                                              2024-02-01     150                          150
                                              2024-03-01     151                          151
...                                                                                       ...
UPE00008   1         1U146400       IX        2024-07-01     66                            66
                                              2024-08-01     67                            67
                                              2024-09-01     68                            68
                                              2024-10-01     69                            69
                                              2024-11-01     70                            70

                                                                             VAL_CUR_ASOF_DT  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                  2024-11-17
                                              2023-12-01     148                  2024-11-17
                                              2024-01-01     149                  2024-11-17
                                              2024-02-01     150                  2024-11-17
                                              2024-03-01     151                  2024-11-17
...                                                                                      ...
UPE00008   1         1U146400       IX        2024-07-01     66                   2024-11-16
                                              2024-08-01     67                   2024-11-16
                                              2024-09-01     68                   2024-11-16
                                              2024-10-01     69                   2024-11-16
                                              2024-11-01     70                   2024-11-16

                                                                              CSV_AMT  \
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                  NaN
                                              2023-12-01     148             1,024.78
                                              2024-01-01     149               995.66
                                              2024-02-01     150             1,161.10
                                              2024-03-01     151             1,043.82
...                                                                               ...
UPE00008   1         1U146400       IX        2024-07-01     66              1,130.11
                                              2024-08-01     67                838.62
                                              2024-09-01     68              1,120.84
                                              2024-10-01     69                936.38
                                              2024-11-01     70                927.96

                                                                              TOT_CRE_ITS_AMT
TCH_POL_ID CK_CMP_CD PLN_DES_SER_CD FND_ID_CD ITS_PER_STR_DT FND_VAL_PHA_NBR
U0600938   1         1U144600       IX        2023-11-01     147                       111.13
                                              2023-12-01     148                          NaN
                                              2024-01-01     149                          NaN
                                              2024-02-01     150                          NaN
                                              2024-03-01     151                          NaN
...                                                                                       ...
UPE00008   1         1U146400       IX        2024-07-01     66                           NaN
                                              2024-08-01     67                           NaN
                                              2024-09-01     68                           NaN
                                              2024-10-01     69                           NaN
                                              2024-11-01     70                           NaN

[1241213 rows x 9 columns]

In [150]:
min_rbg_test.reset_index(drop=True)

,TCH_POL_ID,CK_CMP_CD,PLN_DES_SER_CD,FND_ID_CD,ITS_PER_STR_DT,FND_VAL_PHA_NBR,VAL_CUR_ASOF_DT,CSV_AMT,TOT_CRE_ITS_AMT
0,U0600938,1,1U144600,IX,2023-11-01,147,2024-11-17,NaN,111.13
1,U0600938,1,1U144600,IX,2023-12-01,148,2024-11-17,"1,024.78",NaN
2,U0600938,1,1U144600,IX,2024-01-01,149,2024-11-17,995.66,NaN
3,U0600938,1,1U144600,IX,2024-02-01,150,2024-11-17,"1,161.10",NaN
4,U0600938,1,1U144600,IX,2024-03-01,151,2024-11-17,"1,043.82",NaN
...,...,...,...,...,...,...,...,...,...
1241208,UPE00008,1,1U146400,IX,2024-07-01,66,2024-11-16,"1,130.11",NaN
1241209,UPE00008,1,1U146400,IX,2024-08-01,67,2024-11-16,838.62,NaN
1241210,UPE00008,1,1U146400,IX,2024-09-01,68,2024-11-16,"1,120.84",NaN
1241211,UPE00008,1,1U146400,IX,2024-10-01,69,2024-11-16,936.38,NaN
1241212,UPE00008,1,1U146400,IX,2024-11-01,70,2024-11-16,927.96,NaN

In [124]:
# VERSION 2 -- MIN
min_rows_by_group = grouped_data[kept_cols].apply(get_min_row)

In [125]:
min_rows_by_group

,TCH_POL_ID,CK_CMP_CD,PLN_DES_SER_CD,FND_ID_CD,ITS_PER_STR_DT,FND_VAL_PHA_NBR,VAL_CUR_ASOF_DT,CSV_AMT,TOT_CRE_ITS_AMT
0,U0600938,1,1U144600,IX,2023-11-01,147,2024-11-17,NaN,111.13
1,U0600938,1,1U144600,IX,2023-12-01,148,2024-11-17,"1,024.78",NaN
2,U0600938,1,1U144600,IX,2024-01-01,149,2024-11-17,995.66,NaN
3,U0600938,1,1U144600,IX,2024-02-01,150,2024-11-17,"1,161.10",NaN
4,U0600938,1,1U144600,IX,2024-03-01,151,2024-11-17,"1,043.82",NaN
...,...,...,...,...,...,...,...,...,...
1241208,UPE00008,1,1U146400,IX,2024-07-01,66,2024-11-16,"1,130.11",NaN
1241209,UPE00008,1,1U146400,IX,2024-08-01,67,2024-11-16,838.62,NaN
1241210,UPE00008,1,1U146400,IX,2024-09-01,68,2024-11-16,"1,120.84",NaN
1241211,UPE00008,1,1U146400,IX,2024-10-01,69,2024-11-16,936.38,NaN
1241212,UPE00008,1,1U146400,IX,2024-11-01,70,2024-11-16,927.96,NaN

In [126]:
min_rows_by_group.groupby('ITS_PER_STR_DT').agg({'TCH_POL_ID':'count', 'CSV_AMT':'sum'})

                TCH_POL_ID       CSV_AMT
ITS_PER_STR_DT
2023-11-01           89702          0.00
2023-12-01           90575 54,663,770.94
2024-01-01           91723 58,751,787.54
2024-02-01           92853 59,874,784.08
2024-03-01           93775 55,703,016.87
2024-04-01           94949 56,604,214.85
2024-05-01           95770 53,714,416.99
2024-06-01           96762 52,880,223.64
2024-07-01           97677 63,052,655.94
2024-08-01           98210 58,957,980.57
2024-09-01           99004 60,257,097.85
2024-10-01           99617 69,745,247.97
2024-11-01          100596 70,529,136.11

In [127]:
max_rows_by_group.groupby('ITS_PER_STR_DT').agg({'TCH_POL_ID':'count', 'CSV_AMT':'sum'})

                TCH_POL_ID       CSV_AMT
ITS_PER_STR_DT
2023-11-01           89702          0.00
2023-12-01           90575 35,824,785.09
2024-01-01           91723 58,739,443.81
2024-02-01           92853 59,855,544.63
2024-03-01           93775 55,680,604.63
2024-04-01           94949 56,581,291.98
2024-05-01           95770 53,690,950.34
2024-06-01           96762 52,851,669.05
2024-07-01           97677 63,008,418.03
2024-08-01           98210 58,913,623.86
2024-09-01           99004 60,209,254.13
2024-10-01           99617 69,695,412.66
2024-11-01          100596 70,471,673.20

In [128]:
# non_nan_no_dupes_df = max_rows_by_group[max_rows_by_group['CSV_AMT'].isna()!=True]
# non_nan_no_dupes_df.groupby('ITS_PER_STR_DT').agg({'TCH_POL_ID':'count', 'CSV_AMT':'sum'})
print('Min Groups values of VAL_CUR_ASOF_DT ')
print(min_rows_by_group['VAL_CUR_ASOF_DT'].unique())
print('Max Groups values of VAL_CUR_ASOF_DT ')
print(max_rows_by_group['VAL_CUR_ASOF_DT'].unique())

Min Groups values of VAL_CUR_ASOF_DT
[datetime.date(2024, 11, 17) datetime.date(2024, 11, 20)
 datetime.date(2024, 11, 22) datetime.date(2024, 11, 15)
 datetime.date(2024, 11, 10) datetime.date(2024, 11, 28)
 datetime.date(2024, 11, 1) datetime.date(2024, 11, 5)
 datetime.date(2024, 11, 29) datetime.date(2024, 11, 19)
 datetime.date(2024, 11, 21) datetime.date(2024, 11, 12)
 datetime.date(2024, 11, 25) datetime.date(2024, 11, 7)
 datetime.date(2024, 11, 3) datetime.date(2024, 11, 14)
 datetime.date(2024, 11, 6) datetime.date(2024, 11, 18)
 datetime.date(2024, 11, 24) datetime.date(2024, 11, 16)
 datetime.date(2024, 11, 9) datetime.date(2024, 11, 4)
 datetime.date(2024, 11, 26) datetime.date(2024, 11, 23)
 datetime.date(2024, 11, 27) datetime.date(2024, 11, 11)
 datetime.date(2024, 11, 2) datetime.date(2024, 11, 8)
 datetime.date(2024, 11, 13) datetime.date(2024, 11, 30)]
Max Groups values of VAL_CUR_ASOF_DT
[datetime.date(2024, 11, 17) datetime.date(2024, 11, 20)
 datetime.date(2024, 11, 22) datetime.date(2024, 11, 15)
 datetime.date(2024, 12, 10) datetime.date(2024, 11, 28)
 datetime.date(2024, 12, 1) datetime.date(2024, 12, 5)
 datetime.date(2024, 11, 29) datetime.date(2024, 11, 19)
 datetime.date(2024, 11, 21) datetime.date(2024, 11, 12)
 datetime.date(2024, 11, 25) datetime.date(2024, 12, 7)
 datetime.date(2024, 12, 3) datetime.date(2024, 11, 14)
 datetime.date(2024, 12, 6) datetime.date(2024, 11, 18)
 datetime.date(2024, 11, 24) datetime.date(2024, 11, 16)
 datetime.date(2024, 12, 9) datetime.date(2024, 12, 4)
 datetime.date(2024, 11, 26) datetime.date(2024, 11, 23)
 datetime.date(2024, 11, 27) datetime.date(2024, 11, 11)
 datetime.date(2024, 12, 2) datetime.date(2024, 12, 8)
 datetime.date(2024, 11, 13) datetime.date(2024, 11, 30)
 datetime.date(2024, 11, 5) datetime.date(2024, 11, 9)
 datetime.date(2024, 11, 2)]

In [119]:
# VERSION 2 -- MAX
max_rows_by_group = grouped_data[kept_cols].apply(get_max_row)

In [120]:
grouped_data

In [121]:
max_rows_by_group = grouped_data[kept_cols].apply(get_max_row)

In [107]:
max_rows_by_group[max_rows_by_group['TCH_POL_ID'].str.startswith('U0978637')]

,TCH_POL_ID,CK_CMP_CD,CSV_AMT,FND_ID_CD,FND_VAL_PHA_NBR,ITS_PER_STR_DT,TOT_CRE_ITS_AMT,VAL_CUR_ASOF_DT,PLN_DES_SER_CD
189471,U0978637 GS1Z,1,NaN,IR,32,2023-11-01,211.20,2024-12-01,1U146800
189472,U0978637 GS1Z,1,NaN,IR,33,2023-12-01,215.33,2024-12-01,1U146800
189473,U0978637 GS1Z,1,"1,121.31",IR,34,2024-01-01,NaN,2024-12-01,1U146800
189474,U0978637 GS1Z,1,893.77,IR,35,2024-02-01,NaN,2024-12-01,1U146800
189475,U0978637 GS1Z,1,"1,102.53",IR,36,2024-03-01,NaN,2024-12-01,1U146800
189476,U0978637 GS1Z,1,711.81,IR,37,2024-04-01,NaN,2024-12-01,1U146800
189477,U0978637 GS1Z,1,NaN,IR,38,2024-05-01,NaN,2024-12-01,1U146800
189478,U0978637 GS1Z,1,NaN,IR,39,2024-06-01,NaN,2024-12-01,1U146800
189479,U0978637 GS1Z,1,NaN,IR,40,2024-07-01,NaN,2024-12-01,1U146800
189480,U0978637 GS1Z,1,NaN,IR,41,2024-08-01,NaN,2024-12-01,1U146800
189481,U0978637 GS1Z,1,NaN,IR,42,2024-09-01,NaN,2024-12-01,1U146800
189482,U0978637 GS1Z,1,NaN,IR,43,2024-10-01,NaN,2024-12-01,1U146800
189483,U0978637 GS1Z,1,NaN,IR,44,2024-11-01,NaN,2024-12-01,1U146800

In [151]:
min_rows_by_group[max_rows_by_group['TCH_POL_ID'].str.startswith('U0978637')]

,TCH_POL_ID,CK_CMP_CD,PLN_DES_SER_CD,FND_ID_CD,ITS_PER_STR_DT,FND_VAL_PHA_NBR,VAL_CUR_ASOF_DT,CSV_AMT,TOT_CRE_ITS_AMT
189471,U0978637,1,1U146800,IR,2023-11-01,32,2024-11-01,NaN,211.20
189472,U0978637,1,1U146800,IR,2023-12-01,33,2024-11-01,"1,121.51",NaN
189473,U0978637,1,1U146800,IR,2024-01-01,34,2024-11-01,"1,121.31",NaN
189474,U0978637,1,1U146800,IR,2024-02-01,35,2024-11-01,893.77,NaN
189475,U0978637,1,1U146800,IR,2024-03-01,36,2024-11-01,"1,102.53",NaN
189476,U0978637,1,1U146800,IR,2024-04-01,37,2024-11-01,"1,545.36",NaN
189477,U0978637,1,1U146800,IR,2024-05-01,38,2024-11-01,"1,488.08",NaN
189478,U0978637,1,1U146800,IR,2024-06-01,39,2024-11-01,"1,513.35",NaN
189479,U0978637,1,1U146800,IR,2024-07-01,40,2024-11-01,"1,617.71",NaN
189480,U0978637,1,1U146800,IR,2024-08-01,41,2024-11-01,"1,606.05",NaN
189481,U0978637,1,1U146800,IR,2024-09-01,42,2024-11-01,"1,616.20",NaN
189482,U0978637,1,1U146800,IR,2024-10-01,43,2024-11-01,"1,614.86",NaN
189483,U0978637,1,1U146800,IR,2024-11-01,44,2024-11-01,"1,589.42",NaN

In [122]:
max_rows_by_group

,TCH_POL_ID,CK_CMP_CD,PLN_DES_SER_CD,FND_ID_CD,ITS_PER_STR_DT,FND_VAL_PHA_NBR,VAL_CUR_ASOF_DT,CSV_AMT,TOT_CRE_ITS_AMT
0,U0600938,1,1U144600,IX,2023-11-01,147,2024-11-17,NaN,111.13
1,U0600938,1,1U144600,IX,2023-12-01,148,2024-11-17,"1,024.78",NaN
2,U0600938,1,1U144600,IX,2024-01-01,149,2024-11-17,995.66,NaN
3,U0600938,1,1U144600,IX,2024-02-01,150,2024-11-17,"1,161.10",NaN
4,U0600938,1,1U144600,IX,2024-03-01,151,2024-11-17,"1,043.82",NaN
...,...,...,...,...,...,...,...,...,...
1241208,UPE00008,1,1U146400,IX,2024-07-01,66,2024-11-16,"1,130.11",NaN
1241209,UPE00008,1,1U146400,IX,2024-08-01,67,2024-11-16,838.62,NaN
1241210,UPE00008,1,1U146400,IX,2024-09-01,68,2024-11-16,"1,120.84",NaN
1241211,UPE00008,1,1U146400,IX,2024-10-01,69,2024-11-16,936.38,NaN
1241212,UPE00008,1,1U146400,IX,2024-11-01,70,2024-11-16,927.96,NaN

In [116]:
max_rows_by_group[max_rows_by_group['CSV_AMT'].isna()!=True].VAL_CUR_ASOF_DT.max()

datetime.date(2024, 12, 10)

In [110]:
non_nan_no_dupes_df = max_rows_by_group[max_rows_by_group['CSV_AMT'].isna()!=True]

In [111]:
non_nan_no_dupes_df = max_rows_by_group[max_rows_by_group['CSV_AMT'].isna()!=True]
non_nan_no_dupes_df.groupby('ITS_PER_STR_DT').agg({'TCH_POL_ID':'count', 'CSV_AMT':'sum'})

                TCH_POL_ID       CSV_AMT
ITS_PER_STR_DT
2023-12-01           56217 35,824,785.09
2024-01-01           90485 58,739,443.81
2024-02-01           91661 59,855,544.63
2024-03-01           92602 55,680,604.63
2024-04-01           93865 56,581,291.98
2024-05-01           94720 53,690,950.34
2024-06-01           95824 52,851,669.05
2024-07-01           96842 63,008,418.03
2024-08-01           97529 58,913,623.86
2024-09-01           98450 60,209,254.13
2024-10-01           99255 69,695,412.66
2024-11-01          100406 70,471,673.20

In [105]:
max_rows_by_group.index

MultiIndex([('U0600938  U6C6', 1, 'IX', 147, 2023-11-01, 446),
            ('U0600938  U6C6', 1, 'IX', 148, 2023-12-01, 446),
            ('U0600938  U6C6', 1, 'IX', 149, 2024-01-01, 446),
            ('U0600938  U6C6', 1, 'IX', 150, 2024-02-01, 446),
            ('U0600938  U6C6', 1, 'IX', 151, 2024-03-01, 446),
            ('U0600938  U6C6', 1, 'IX', 152, 2024-04-01, 446),
            ('U0600938  U6C6', 1, 'IX', 153, 2024-05-01, 446),
            ('U0600938  U6C6', 1, 'IX', 154, 2024-06-01, 446),
            ('U0600938  U6C6', 1, 'IX', 155, 2024-07-01, 446),
            ('U0600938  U6C6', 1, 'IX', 156, 2024-08-01, 446),
            ...
            ('UPE00008  AXFM', 1, 'IX',  61, 2024-02-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  62, 2024-03-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  63, 2024-04-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  64, 2024-05-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  65, 2024-06-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  66, 2024-07-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  67, 2024-08-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  68, 2024-09-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  69, 2024-10-01, 464),
            ('UPE00008  AXFM', 1, 'IX',  70, 2024-11-01, 464)],
           names=['TCH_POL_ID', 'CK_CMP_CD', 'FND_ID_CD', 'FND_VAL_PHA_NBR', 'ITS_PER_STR_DT', 'PLN_BSE_SRE_CD'], length=1241213)

In [48]:
inf = InforceFile(inforce_file)

Reading in Helper Dataframes (used for static lookups to obtain values for related fields)
REMINDER TO UPDATE NEW BUDGET INFO in Static_Assumptions Folder for ProductDetailsByHedgeDate.csv!!!
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HedgeDates.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HdgFctrLU.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\CoPlanInd_to_Prod.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\FundID_to_Indicator.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\ProductDetailsByHedgeDate.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Indicator_to_FundName.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Inforce_FieldName_Map.csv
Converting Static Assum DataFrame Dates to Datetime.Date
Going on the assumption that inforce data in C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\12_2024_IUL_Fund_Values_RGA.txt is consistent with the inforce date of 2024-12-01
Importing Inforce Txt File
Time Reading Inforce File: 0 mins 11 secs

In [49]:
inf.inforce_df

,InforceDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,ExpiryDt,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-11-01,1,UE000006,82,1U145500,INX150,NaN,19.65,2023-11-01,2024-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
1,2023-12-01,1,UE000006,83,1U145500,INX150,231.18,NaN,2023-12-01,2024-11-29,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,224.24
2,2024-01-01,1,UE000006,84,1U145500,INX150,230.15,NaN,2024-01-02,2025-01-02,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,223.25
3,2024-02-01,1,UE000006,85,1U145500,INX150,235.35,NaN,2024-02-01,2025-01-31,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,228.29
4,2024-03-01,1,UE000006,86,1U145500,INX150,273.14,NaN,2024-03-01,2025-02-28,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700641,2024-11-01,1,U0982392,1,1U147800,INXLOM,6.97,NaN,2024-11-01,2025-10-31,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,8.21
1700642,2024-11-01,1,U0982392,1,1U147800,INXHIM,6.83,NaN,2024-11-01,2025-10-31,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,10.38
1700643,2024-11-01,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,2025-10-31,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76
1700644,2024-11-01,1,U0982392,1,1U147800,MARPRT,7.12,NaN,2024-11-01,2025-10-31,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,16.23
1700645,2024-11-01,1,U0982392,1,1U147800,NASIDX,7.18,NaN,2024-11-01,2025-10-31,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.82

In [7]:
min_dt = inf.inforce_df['InforceDt'].min()

In [8]:
inf.inforce_df[inf.inforce_df['InforceDt']==min_dt]

,InforceDt,CompID,PolicyNum,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,ExpiryDt,Product_Detail,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-11-01,1,UE000006,1U145500,INX150,NaN,19.65,2023-11-01,2024-11-01,IUL14,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
13,2023-11-01,1,UE000006,1U145500,INXFEE,NaN,65.01,2023-11-01,2024-11-01,IUL14,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.97,1.08,NaN
26,2023-11-01,1,UE000011,1U145500,INX150,NaN,21.05,2023-11-01,2024-11-01,IUL14,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
27,2023-11-01,1,UE000011,1U145500,INX150,NaN,21.05,2023-11-01,2024-11-01,IUL14,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
52,2023-11-01,1,UE000012,1U145500,INX150,NaN,20.02,2023-11-01,2024-11-01,IUL14,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698170,2023-11-01,1,U0981830,1U147800,MARPRT,NaN,52.07,2023-11-01,2024-11-01,IUL23,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1698191,2023-11-01,1,U0981838,1U147800,INDEX,NaN,907.01,2023-11-01,2024-11-01,IUL23,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1698192,2023-11-01,1,U0981838,1U147800,INDEX,NaN,907.01,2023-11-01,2024-11-01,IUL23,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1698487,2023-11-01,1,U0981883,1U147800,MARPRT,NaN,40.14,2023-11-01,2024-11-01,IUL23,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1698488,2023-11-01,1,U0981883,1U147800,MARPRT,NaN,40.14,2023-11-01,2024-11-01,IUL23,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN

In [50]:
base_ntnl = inf.inforce_df[inf.inforce_df['InforceDt']==min_dt]['Base_Liab_Ntnl']

In [51]:
len(base_ntnl), base_ntnl.isna().sum()

(123005, np.int64(123005))

In [52]:
base_ntnl = inf.inforce_df[inf.inforce_df['InforceDt']!=min_dt]['Base_Liab_Ntnl']
len(base_ntnl), base_ntnl.isna().sum()

(1577641, np.int64(47124))

In [53]:
non_mature_ntnl = inf.inforce_df[inf.inforce_df['InforceDt']!=min_dt]

In [54]:
non_mature_ntnl_nan = non_mature_ntnl[non_mature_ntnl['Base_Liab_Ntnl'].isna()]  #.groupby(['InforceDt']).agg({'Adj_Liab_Ntnl', 'count'})

In [64]:
nan_cols = ['InforceDt', 'CompID', 'PolicyNum', 'PHA_Num', 'Plan', 'Indicator', 'Base_Liab_Ntnl', 'Idx_Credit']
ntnl_nan_df = inf.inforce_df[inf.inforce_df['Base_Liab_Ntnl'].isna()]
ntnl_nan_df = ntnl_nan_df[nan_cols]

ntnl_nan_df.to_clipboard()

In [62]:
inf.inforce_df.columns

Index(['InforceDt', 'CompID', 'PolicyNum', 'PHA_Num', 'Plan', 'Indicator',
       'Base_Liab_Ntnl', 'Idx_Credit', 'HedgeDate', 'ExpiryDt',
       'Product_Detail', 'Product', 'Budget', 'Part', 'Cap', 'Floor',
       'Spec_Rate', 'Spread', 'Asset_Charge', 'Multiplier', 'HdgFctr',
       'Strike', 'Adj_Liab_Ntnl'],
      dtype='object')

In [55]:
inf.inforce_df[inf.inforce_df['Base_Liab_Ntnl'].isna()].groupby(['InforceDt']).agg({'PolicyNum': 'count', 'Idx_Credit': 'sum'})

            PolicyNum   Idx_Credit
InforceDt
2023-11-01     123005 9,745,500.69
2023-12-01      34802 2,282,642.41
2024-01-01       1679         0.00
2024-02-01       1610         0.00
2024-03-01       1578        -0.36
2024-04-01       1446         0.00
2024-05-01       1407         0.00
2024-06-01       1252         0.00
2024-07-01       1100         0.00
2024-08-01        889         0.00
2024-09-01        707         0.00
2024-10-01        447         0.00
2024-11-01        207         0.00

In [56]:
non_mature_ntnl_nan

,InforceDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,ExpiryDt,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
29,2023-12-01,1,UE000011,85,1U145500,INX150,NaN,21.06,2023-12-01,2024-11-29,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
55,2023-12-01,1,UE000012,83,1U145500,INX150,NaN,20.01,2023-12-01,2024-11-29,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
119,2023-12-01,1,UE000057,84,1U145500,INDEX,NaN,10.06,2023-12-01,2024-11-29,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
420,2023-12-01,1,UE000122,82,1U145500,INXFEE,NaN,74.15,2023-12-01,2024-11-29,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.97,1.08,NaN
446,2023-12-01,1,UE000122,82,1U145500,INDEX,NaN,31.44,2023-12-01,2024-11-29,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696239,2023-12-01,1,U0981611,4,1U147500,MARPRT,NaN,2.05,2023-12-01,2024-11-29,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1696265,2023-12-01,1,U0981611,4,1U147500,NASIDX,NaN,1.19,2023-12-01,2024-11-29,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1696291,2023-12-01,1,U0981613,5,1U147800,MARPRT,NaN,135.72,2023-12-01,2024-11-29,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1698490,2023-12-01,1,U0981883,3,1U147800,MARPRT,NaN,29.45,2023-12-01,2024-11-29,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1699880,2023-12-01,1,U0982083,1,1U147800,MARPRT,NaN,163.45,2023-12-01,2024-11-29,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN

In [57]:
non_mature_ntnl_nan.groupby(['InforceDt']).agg({'PolicyNum':'count'})

            PolicyNum
InforceDt
2023-12-01      34802
2024-01-01       1679
2024-02-01       1610
2024-03-01       1578
2024-04-01       1446
2024-05-01       1407
2024-06-01       1252
2024-07-01       1100
2024-08-01        889
2024-09-01        707
2024-10-01        447
2024-11-01        207

In [45]:
non_mature_ntnl_nan[non_mature_ntnl_nan['InforceDt']==date(2024, 11, 1)]

,InforceDt,CompID,PolicyNum,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,ExpiryDt,Product_Detail,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
16748,2024-11-01,1,UE003211,1U145500,INXFEE,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,NaN
18299,2024-11-01,1,UE003516,1U145500,INXFEE,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,NaN
26583,2024-11-01,1,UE005125,1U145500,INXFEE,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,NaN
29997,2024-11-01,1,UE005901,1U145500,INDEX,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,NaN
45494,2024-11-01,1,UE008804,1U145500,INXFEE,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606567,2024-11-01,1,U0952577,1U145500,INDEX,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,NaN
1618360,2024-11-01,1,U0958477,1U145500,INDEX,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,NaN
1629070,2024-11-01,1,U0963917,1U145500,INDEX,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,NaN
1631647,2024-11-01,1,U0964987,1U145500,INDEX,NaN,NaN,2024-11-01,2025-10-31,IUL14,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,NaN
1673396,2024-11-01,1,U0978637,1U146800,INXHIM,NaN,NaN,2024-11-01,2025-10-31,IUL19,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,NaN

In [113]:
# U0978637
inf.inforce_df[inf.inforce_df['PolicyNum']=='U0978637']

,InforceDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,ExpiryDt,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
1673371,2023-11-01,1,U0978637,32,1U146800,INXHIM,NaN,211.20,2023-11-01,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673372,2023-11-01,1,U0978637,32,1U146800,INXHIM,NaN,211.20,2023-11-01,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673373,2023-12-01,1,U0978637,33,1U146800,INXHIM,"1,121.51",NaN,2023-12-01,2024-11-29,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,740.58"
1673374,2023-12-01,1,U0978637,33,1U146800,INXHIM,NaN,215.33,2023-12-01,2024-11-29,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673375,2024-01-01,1,U0978637,34,1U146800,INXHIM,"1,121.31",NaN,2024-01-02,2025-01-02,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,740.27"
1673376,2024-01-01,1,U0978637,34,1U146800,INXHIM,"1,121.31",NaN,2024-01-02,2025-01-02,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,740.27"
1673377,2024-02-01,1,U0978637,35,1U146800,INXHIM,893.77,NaN,2024-02-01,2025-01-31,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,387.13"
1673378,2024-02-01,1,U0978637,35,1U146800,INXHIM,893.77,NaN,2024-02-01,2025-01-31,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,387.13"
1673379,2024-03-01,1,U0978637,36,1U146800,INXHIM,"1,102.53",NaN,2024-03-01,2025-02-28,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,711.13"
1673380,2024-03-01,1,U0978637,36,1U146800,INXHIM,"1,102.53",NaN,2024-03-01,2025-02-28,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,711.13"
1673381,2024-04-01,1,U0978637,37,1U146800,INXHIM,"1,545.36",NaN,2024-04-01,2025-04-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"2,398.40"
1673382,2024-04-01,1,U0978637,37,1U146800,INXHIM,711.81,NaN,2024-04-01,2025-04-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"1,104.73"
1673383,2024-05-01,1,U0978637,38,1U146800,INXHIM,"1,488.08",NaN,2024-05-01,2025-05-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"2,309.50"
1673384,2024-05-01,1,U0978637,38,1U146800,INXHIM,NaN,NaN,2024-05-01,2025-05-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673385,2024-06-01,1,U0978637,39,1U146800,INXHIM,"1,513.35",NaN,2024-06-03,2025-06-03,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"2,348.72"
1673386,2024-06-01,1,U0978637,39,1U146800,INXHIM,NaN,NaN,2024-06-03,2025-06-03,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673387,2024-07-01,1,U0978637,40,1U146800,INXHIM,"1,617.71",NaN,2024-07-01,2025-07-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"2,510.69"
1673388,2024-07-01,1,U0978637,40,1U146800,INXHIM,NaN,NaN,2024-07-01,2025-07-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673389,2024-08-01,1,U0978637,41,1U146800,INXHIM,"1,606.05",NaN,2024-08-01,2025-08-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,"2,492.59"
1673390,2024-08-01,1,U0978637,41,1U146800,INXHIM,NaN,NaN,2024-08-01,2025-08-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.97,1.00,NaN
1673391,2024-09-01,1,U0978637,42,1U146800,INXHIM,"1,616.20",NaN,2024-09-03,2025-09-03,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,"2,456.62"
1673392,2024-09-01,1,U0978637,42,1U146800,INXHIM,NaN,NaN,2024-09-03,2025-09-03,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,NaN
1673393,2024-10-01,1,U0978637,43,1U146800,INXHIM,"1,614.86",NaN,2024-10-01,2025-10-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,"2,454.59"
1673394,2024-10-01,1,U0978637,43,1U146800,INXHIM,NaN,NaN,2024-10-01,2025-10-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,NaN
1673395,2024-11-01,1,U0978637,44,1U146800,INXHIM,"1,589.42",NaN,2024-11-01,2025-10-31,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,"2,415.92"
1673396,2024-11-01,1,U0978637,44,1U146800,INXHIM,NaN,NaN,2024-11-01,2025-10-31,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,NaN

In [5]:
inf.inforce_df.columns

Index(['InforceDt', 'CompID', 'PolicyNum', 'Plan', 'Indicator',
       'Base_Liab_Ntnl', 'Idx_Credit', 'HedgeDate', 'ExpiryDt',
       'Product_Detail', 'Product', 'Budget', 'Part', 'Cap', 'Floor',
       'Spec_Rate', 'Spread', 'Asset_Charge', 'Multiplier', 'HdgFctr',
       'Strike', 'Adj_Liab_Ntnl'],
      dtype='object')

In [34]:
inf.inforce_df['Plan'].unique()

array(['1U145500', '1U145800', '1U144700', '1U146400', '1U146800',
       '1U147500', '1U147400', '1U147800', '1U144600', '1U144800',
       '1U145600', '1U145900', '1U146900', '1U148000', '1U148100'],
      dtype=object)

In [36]:
inf.inforce_df['HedgeDate'].unique()

array([datetime.date(2023, 11, 1), datetime.date(2023, 12, 1),
       datetime.date(2024, 1, 2), datetime.date(2024, 2, 1),
       datetime.date(2024, 3, 1), datetime.date(2024, 4, 1),
       datetime.date(2024, 5, 1), datetime.date(2024, 6, 3),
       datetime.date(2024, 7, 1), datetime.date(2024, 8, 1),
       datetime.date(2024, 9, 3), datetime.date(2024, 10, 1),
       datetime.date(2024, 11, 1)], dtype=object)

In [ ]:
hedge_date = date(2024, 12, 2)

hdg_file_name = os.path.basename(inforce_file)
hdg_mth = int(hdg_file_name[:2])
hdg_yr = int(hdg_file_name[3:7])
# hdg_mth, hdg_yr

base_output_path = r'\\rgare.net\stlfinmkts\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\2_Results'
liab_detail_file_name = r'iul_new_inforce_details.xlsx'
# results_subfldr = str(hdg_yr) + hdg_file_name[:2]
results_subfldr = hedge_date.strftime('%Y%m%d')
hdg_file_name = os.path.join(base_output_path, results_subfldr, liab_detail_file_name)

hdg_file_name

# hdg_df = pd.read_excel(hdg_file_name)
# hdg_df

'\\\\rgare.net\\stlfinmkts\\MarketRiskMgmt\\Pricing Requests\\2024-Orion - IUL Hedging\\RGA_Process\\2_Results\\20241202\\iul_new_inforce_details.xlsx'

inforce_file_date is a date!

datetime.date(2024, 12, 1)

inforce_file_date is a str

datetime.date(2024, 12, 1)

inforce_file_date is a str

datetime.date(2024, 12, 1)

inforce_file_date is a str

datetime.date(2024, 12, 1)

inforce_file_date is a str

datetime.date(2024, 12, 1)

In [3]:
rename_df = pd.read_csv(rename_file)
hdgfctr_lu_df = pd.read_csv(hdgfctr_lu_file)
hdgfctr_lu_df['HedgeDate'] = pd.to_datetime(hdgfctr_lu_df['HedgeDate']).dt.date

hdgdts_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HedgeDates.csv'
hdgdts_df = pd.read_csv(hdgdts_file, index_col=False)
hdgdts_df['InforceDt'] = pd.to_datetime(hdgdts_df['InforceDt']).dt.date
hdgdts_df['HedgeDate'] = pd.to_datetime(hdgdts_df['HedgeDate']).dt.date
hdgdts_df['ExpiryDt'] = pd.to_datetime(hdgdts_df['ExpiryDt']).dt.date
hdgdts_df

      InforceDt   HedgeDate    ExpiryDt
0    2023-07-01  2023-07-03  2024-07-03
1    2023-08-01  2023-08-01  2024-08-01
2    2023-09-01  2023-09-01  2024-08-30
3    2023-10-01  2023-10-02  2024-10-02
4    2023-11-01  2023-11-01  2024-11-01
..          ...         ...         ...
356  2053-03-01  2053-03-03  2054-03-03
357  2053-04-01  2053-04-01  2054-04-01
358  2053-05-01  2053-05-01  2054-05-01
359  2053-06-01  2053-06-02  2054-06-02
360  2053-07-01  2053-07-01  2054-07-01

[361 rows x 3 columns]

In [7]:
test_dt = date(2024, 12, 1)
hdgdts_df[hdgdts_df['InforceDt']==test_dt]['HedgeDate'].values[0]

datetime.date(2024, 12, 2)

In [19]:
hdgfctr_lu_df

     HedgeDate  HedgeRatio  HedgeRatio_NY  Coins  Coins_NY
0     7/3/2023        0.97           0.97   1.00      0.80
1     8/1/2023        0.97           0.97   1.00      0.80
2     9/1/2023        0.97           0.97   1.00      0.80
3    10/2/2023        0.97           0.97   1.00      0.80
4    11/1/2023        0.97           0.97   1.00      0.80
..         ...         ...            ...    ...       ...
356   3/3/2053        0.95           0.95   1.00      0.80
357   4/1/2053        0.95           0.95   1.00      0.80
358   5/1/2053        0.95           0.95   1.00      0.80
359   6/2/2053        0.95           0.95   1.00      0.80
360   7/1/2053        0.95           0.95   1.00      0.80

[361 rows x 5 columns]

In [47]:
def create_hdgfctr_lu_df(hdg_dts_df: pd.DataFrame):
    
    hdg_fctr_tbl = hdgfctr_lu_df.merge(hdg_dts_df, on=['HedgeDate'])
    desired_cols = ['HedgeDate', 'CompID', 'HdgFctr']

    hdg_fctr_non_ny_tbl = hdg_fctr_tbl.copy(deep=True)    
    hdg_fctr_non_ny_tbl['CompID'] = 1
    hdg_fctr_non_ny_tbl['HdgFctr'] = hdg_fctr_tbl['HedgeRatio'] * hdg_fctr_tbl['Coins']
    hdg_fctr_non_ny_tbl = hdg_fctr_non_ny_tbl[desired_cols]


    hdg_fctr_ny_tbl = hdg_fctr_tbl.copy(deep=True)    
    hdg_fctr_ny_tbl['CompID'] = 26
    hdg_fctr_ny_tbl['HdgFctr'] = hdg_fctr_tbl['HedgeRatio_NY'] * hdg_fctr_tbl['Coins_NY']
    hdg_fctr_ny_tbl = hdg_fctr_ny_tbl[desired_cols]

    hdgfctr_lu_tbl = pd.concat([hdg_fctr_non_ny_tbl, hdg_fctr_ny_tbl], ignore_index=True)    

    return hdgfctr_lu_tbl

In [46]:
create_hdgfctr_lu_df(pd.DataFrame(inforce_df['HedgeDate'].unique(), columns=['HedgeDate']))

     HedgeDate  CompID  HdgFctr
0   2023-11-01       1     0.97
1   2023-12-01       1     0.97
2   2024-01-02       1     0.97
3   2024-02-01       1     0.97
4   2024-03-01       1     0.97
5   2024-04-01       1     0.97
6   2024-05-01       1     0.97
7   2024-06-03       1     0.97
8   2024-07-01       1     0.97
9   2024-08-01       1     0.97
10  2024-09-03       1     0.95
11  2024-10-01       1     0.95
12  2024-11-01       1     0.95
13  2024-12-02       1     0.95
14  2023-11-01      26     0.78
15  2023-12-01      26     0.78
16  2024-01-02      26     0.78
17  2024-02-01      26     0.78
18  2024-03-01      26     0.78
19  2024-04-01      26     0.78
20  2024-05-01      26     0.78
21  2024-06-03      26     0.78
22  2024-07-01      26     0.78
23  2024-08-01      26     0.78
24  2024-09-03      26     0.76
25  2024-10-01      26     0.76
26  2024-11-01      26     0.76
27  2024-12-02      26     0.76

     HedgeDate  CompID  HdgFctr
0   2023-11-01       1     0.97
1   2023-12-01       1     0.97
2   2024-01-02       1     0.97
3   2024-02-01       1     0.97
4   2024-03-01       1     0.97
5   2024-04-01       1     0.97
6   2024-05-01       1     0.97
7   2024-06-03       1     0.97
8   2024-07-01       1     0.97
9   2024-08-01       1     0.97
10  2024-09-03       1     0.95
11  2024-10-01       1     0.95
12  2024-11-01       1     0.95
13  2024-12-02       1     0.95
14  2023-11-01      26     0.78
15  2023-12-01      26     0.78
16  2024-01-02      26     0.78
17  2024-02-01      26     0.78
18  2024-03-01      26     0.78
19  2024-04-01      26     0.78
20  2024-05-01      26     0.78
21  2024-06-03      26     0.78
22  2024-07-01      26     0.78
23  2024-08-01      26     0.78
24  2024-09-03      26     0.76
25  2024-10-01      26     0.76
26  2024-11-01      26     0.76
27  2024-12-02      26     0.76

In [37]:
hdgfctr_lu_df[hdgfctr_lu_df['HedgeDate']==date(2023, 11, 1)]

Empty DataFrame
Columns: [HedgeDate, HedgeRatio, HedgeRatio_NY, Coins, Coins_NY]
Index: []

In [39]:
type(hdgfctr_lu_df['HedgeDate'][0])

str

In [31]:
# pd.DataFrame(inforce_df['HedgeDate'].unique(), names=['HedgeDate'])
pd.DataFrame(inforce_df['HedgeDate'].unique(), columns=['HedgeDate'])

     HedgeDate
0   2023-11-01
1   2023-12-01
2   2024-01-02
3   2024-02-01
4   2024-03-01
5   2024-04-01
6   2024-05-01
7   2024-06-03
8   2024-07-01
9   2024-08-01
10  2024-09-03
11  2024-10-01
12  2024-11-01
13  2024-12-02

In [4]:
rename_df.set_index('Orig_Name').to_dict(orient='index')

{'ITS_PER_STR_DT': {'New_Name': 'InforceDt'},
 'CK_CMP_CD': {'New_Name': 'CompID'},
 'TCH_POL_ID': {'New_Name': 'PolicyNum'},
 'PLN_DES_SER_CD': {'New_Name': 'Plan'},
 'CSV_AMT': {'New_Name': 'Base_Liab_Ntnl'},
 'TOT_CRE_ITS_AMT': {'New_Name': 'Idx_Credit'}}

In [5]:
rename_dict = { k : v for (k, v) in zip(rename_df['Orig_Name'], rename_df['New_Name'])}
print(rename_dict)

{'ITS_PER_STR_DT': 'InforceDt', 'CK_CMP_CD': 'CompID', 'TCH_POL_ID': 'PolicyNum', 'PLN_DES_SER_CD': 'Plan', 'CSV_AMT': 'Base_Liab_Ntnl', 'TOT_CRE_ITS_AMT': 'Idx_Credit'}

In [6]:
inforce_df = pd.read_csv(inforce_file, sep='\t')

In [7]:
fnd_id_cd_to_ind = {
    'IC' :	'INX150',
    'IF' :	'INXFEE',
    'IP' :	'INXLOM',
    'IR' :	'INXHIM',
    'IS' :	'INXSPC',
    'IX' :	'INDEX',
    'M1' :	'MARPRT',
    'NX' :	'NASIDX'
}

In [8]:
inforce_df['Indicator'] = inforce_df.apply(lambda row: fnd_id_cd_to_ind[row['FND_ID_CD']], axis=1)

In [9]:
inforce_df.columns

Index(['TCH_POL_ID', 'CK_CMP_CD', 'CK_SYS_CD', 'CSV_AMT', 'FND_ID_CD',
       'FND_VAL_PHA_NBR', 'ITS_PER_STR_DT', 'ITS_PER_END_DT', 'MVRY_DT',
       'TOT_CRE_ITS_AMT', 'VAL_CUR_ASOF_DT', 'PLN_BSE_SRE_CD',
       'LIF_PLN_SUB_SRE_CD', 'PLN_DES_SER_CD', 'INS_CLS_CD', 'SVC_AGC_NBR',
       'PRM_PAY_STA_REA_CD', 'FUZGREIN_IND', 'Indicator'],
      dtype='object')

In [10]:
# kept_columns = ['TCH_POL_ID', 'CK_CMP_CD', 'CSV_AMT', 'FND_ID_CD', 'ITS_PER_STR_DT', 'TOT_CRE_ITS_AMT', 'PLN_DES_SER_CD']
# kept_columns_ordered = ['ITS_PER_STR_DT', 'CK_CMP_CD', 'TCH_POL_ID', 'PLN_DES_SER_CD', 'FND_ID_CD', 'CSV_AMT', 'TOT_CRE_ITS_AMT']
kept_columns_ordered = ['ITS_PER_STR_DT', 'CK_CMP_CD', 'TCH_POL_ID', 'PLN_DES_SER_CD', 'Indicator', 'CSV_AMT', 'TOT_CRE_ITS_AMT']

In [11]:
inforce_df = inforce_df[kept_columns_ordered]

In [12]:
col_rename_dict = {
    'ITS_PER_STR_DT': 'InforceDt',
    'CK_CMP_CD': 'CompID',
    'TCH_POL_ID': 'PolicyNum', 
    'PLN_DES_SER_CD': 'Plan',
    'CSV_AMT': 'Base_Liab_Ntnl', 
    # 'FND_ID_CD': '???',  -- Ignore this and rename after updating/mapping to Indicator         
    'TOT_CRE_ITS_AMT': 'Idx_Credit'
}

In [13]:
# inforce_df.rename(columns={'index': 'Liab_ID'}, inplace=True)
inforce_df.rename(columns=col_rename_dict, inplace=True)
inforce_df

,InforceDt,CompID,PolicyNum,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit
0,2023-11-01,1,UE000006 PU11,1U145500,INX150,NaN,19.65
1,2023-12-01,1,UE000006 PU11,1U145500,INX150,231.18,NaN
2,2024-01-01,1,UE000006 PU11,1U145500,INX150,230.15,NaN
3,2024-02-01,1,UE000006 PU11,1U145500,INX150,235.35,NaN
4,2024-03-01,1,UE000006 PU11,1U145500,INX150,273.14,NaN
...,...,...,...,...,...,...,...
1407937,2024-11-01,1,U0982392 X9IH,1U147800,INXLOM,6.97,NaN
1407938,2024-11-01,1,U0982392 X9IH,1U147800,INXHIM,6.83,NaN
1407939,2024-11-01,1,U0982392 X9IH,1U147800,INDEX,7.12,NaN
1407940,2024-11-01,1,U0982392 X9IH,1U147800,MARPRT,7.12,NaN
1407941,2024-11-01,1,U0982392 X9IH,1U147800,NASIDX,7.18,NaN

In [16]:
# inforce_df['InforceDt']=pd.to_datetime(inforce_df['InforceDt']).dt.date
inforce_df['InforceDt']=pd.to_datetime(inforce_df.loc[:,'InforceDt']).dt.date

In [17]:
# inforce_df['PolicyNum'] = inforce_df['PolicyNum'].str.slice(0, 8)
inforce_df['PolicyNum'] = inforce_df.loc[:, 'PolicyNum'].str.slice(0, 8)

In [ ]:
inforce_df

,InforceDt,CompID,PolicyNum,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit
0,2023-11-01,1,UE000006,1U145500,INX150,NaN,19.65
1,2023-12-01,1,UE000006,1U145500,INX150,231.18,NaN
2,2024-01-01,1,UE000006,1U145500,INX150,230.15,NaN
3,2024-02-01,1,UE000006,1U145500,INX150,235.35,NaN
4,2024-03-01,1,UE000006,1U145500,INX150,273.14,NaN
...,...,...,...,...,...,...,...
1407937,2024-11-01,1,U0982392,1U147800,INXLOM,6.97,NaN
1407938,2024-11-01,1,U0982392,1U147800,INXHIM,6.83,NaN
1407939,2024-11-01,1,U0982392,1U147800,INDEX,7.12,NaN
1407940,2024-11-01,1,U0982392,1U147800,MARPRT,7.12,NaN
1407941,2024-11-01,1,U0982392,1U147800,NASIDX,7.18,NaN

In [21]:
inforce_df['Plan'] = inforce_df['Plan'].str.strip()

In [ ]:
latest_hedgedt = inforce_df['InforceDt'].max()
latest_hedgedt

datetime.date(2024, 12, 1)

In [ ]:
# Remove data for the latest hedge date since that should not show up
latest_hedgedt = inforce_df['InforceDt'].max()
print(latest_hedgedt)
inforce_df = inforce_df[inforce_df['InforceDt']!=latest_hedgedt]

2024-12-01

In [ ]:
# Carve out and save the data from the earliest cohort (extract the Idx_Credit)
earliest_hedgedt = inforce_df['InforceDt'].min()
earliest_hedgedt
# TODO: write code to save this portion, then chop it off!

datetime.date(2023, 11, 1)

      InforceDt   HedgeDate    ExpiryDt
0    2023-07-01  2023-07-03  2024-07-03
1    2023-08-01  2023-08-01  2024-08-01
2    2023-09-01  2023-09-01  2024-08-30
3    2023-10-01  2023-10-02  2024-10-02
4    2023-11-01  2023-11-01  2024-11-01
..          ...         ...         ...
356  2053-03-01  2053-03-03  2054-03-03
357  2053-04-01  2053-04-01  2054-04-01
358  2053-05-01  2053-05-01  2054-05-01
359  2053-06-01  2053-06-02  2054-06-02
360  2053-07-01  2053-07-01  2054-07-01

[361 rows x 3 columns]

In [23]:
inforce_df = inforce_df.merge(hdgdts_df, on=['InforceDt'])
# Reminder to Drop 'InforceDt'

In [ ]:
# Alternate way to populate HedgeDate and ExpirtyDt
hdgdts_dict = { (dt.month, dt.year): dt for dt in hdgdts_df['HedgeDate'] }
print(hdgdts_dict)
inforce_df['HedgeDate'] = inforce_df.apply(lambda row: hdgdts_dict[(row['TempHedgeDt'].month, row['TempHedgeDt'].year)], axis=1)

{(7, 2023): datetime.date(2023, 7, 3), (8, 2023): datetime.date(2023, 8, 1), (9, 2023): datetime.date(2023, 9, 1), (10, 2023): datetime.date(2023, 10, 2), (11, 2023): datetime.date(2023, 11, 1), (12, 2023): datetime.date(2023, 12, 1), (1, 2024): datetime.date(2024, 1, 2), (2, 2024): datetime.date(2024, 2, 1), (3, 2024): datetime.date(2024, 3, 1), (4, 2024): datetime.date(2024, 4, 1), (5, 2024): datetime.date(2024, 5, 1), (6, 2024): datetime.date(2024, 6, 3), (7, 2024): datetime.date(2024, 7, 1), (8, 2024): datetime.date(2024, 8, 1), (9, 2024): datetime.date(2024, 9, 3), (10, 2024): datetime.date(2024, 10, 1), (11, 2024): datetime.date(2024, 11, 1), (12, 2024): datetime.date(2024, 12, 2), (1, 2025): datetime.date(2025, 1, 2), (2, 2025): datetime.date(2025, 2, 3), (3, 2025): datetime.date(2025, 3, 3), (4, 2025): datetime.date(2025, 4, 1), (5, 2025): datetime.date(2025, 5, 1), (6, 2025): datetime.date(2025, 6, 2), (7, 2025): datetime.date(2025, 7, 1), (8, 2025): datetime.date(2025, 8, 1), (9, 2025): datetime.date(2025, 9, 2), (10, 2025): datetime.date(2025, 10, 1), (11, 2025): datetime.date(2025, 11, 3), (12, 2025): datetime.date(2025, 12, 1), (1, 2026): datetime.date(2026, 1, 2), (2, 2026): datetime.date(2026, 2, 2), (3, 2026): datetime.date(2026, 3, 2), (4, 2026): datetime.date(2026, 4, 1), (5, 2026): datetime.date(2026, 5, 1), (6, 2026): datetime.date(2026, 6, 1), (7, 2026): datetime.date(2026, 7, 1), (8, 2026): datetime.date(2026, 8, 3), (9, 2026): datetime.date(2026, 9, 1), (10, 2026): datetime.date(2026, 10, 1), (11, 2026): datetime.date(2026, 11, 2), (12, 2026): datetime.date(2026, 12, 1), (1, 2027): datetime.date(2027, 1, 4), (2, 2027): datetime.date(2027, 2, 1), (3, 2027): datetime.date(2027, 3, 1), (4, 2027): datetime.date(2027, 4, 1), (5, 2027): datetime.date(2027, 5, 3), (6, 2027): datetime.date(2027, 6, 1), (7, 2027): datetime.date(2027, 7, 1), (8, 2027): datetime.date(2027, 8, 2), (9, 2027): datetime.date(2027, 9, 1), (10, 2027): datetime.date(2027, 10, 1), (11, 2027): datetime.date(2027, 11, 1), (12, 2027): datetime.date(2027, 12, 1), (1, 2028): datetime.date(2028, 1, 3), (2, 2028): datetime.date(2028, 2, 1), (3, 2028): datetime.date(2028, 3, 1), (4, 2028): datetime.date(2028, 4, 3), (5, 2028): datetime.date(2028, 5, 1), (6, 2028): datetime.date(2028, 6, 1), (7, 2028): datetime.date(2028, 7, 3), (8, 2028): datetime.date(2028, 8, 1), (9, 2028): datetime.date(2028, 9, 1), (10, 2028): datetime.date(2028, 10, 2), (11, 2028): datetime.date(2028, 11, 1), (12, 2028): datetime.date(2028, 12, 1), (1, 2029): datetime.date(2029, 1, 2), (2, 2029): datetime.date(2029, 2, 1), (3, 2029): datetime.date(2029, 3, 1), (4, 2029): datetime.date(2029, 4, 2), (5, 2029): datetime.date(2029, 5, 1), (6, 2029): datetime.date(2029, 6, 1), (7, 2029): datetime.date(2029, 7, 2), (8, 2029): datetime.date(2029, 8, 1), (9, 2029): datetime.date(2029, 9, 4), (10, 2029): datetime.date(2029, 10, 1), (11, 2029): datetime.date(2029, 11, 1), (12, 2029): datetime.date(2029, 12, 3), (1, 2030): datetime.date(2030, 1, 2), (2, 2030): datetime.date(2030, 2, 1), (3, 2030): datetime.date(2030, 3, 1), (4, 2030): datetime.date(2030, 4, 1), (5, 2030): datetime.date(2030, 5, 1), (6, 2030): datetime.date(2030, 6, 3), (7, 2030): datetime.date(2030, 7, 1), (8, 2030): datetime.date(2030, 8, 1), (9, 2030): datetime.date(2030, 9, 3), (10, 2030): datetime.date(2030, 10, 1), (11, 2030): datetime.date(2030, 11, 1), (12, 2030): datetime.date(2030, 12, 2), (1, 2031): datetime.date(2031, 1, 2), (2, 2031): datetime.date(2031, 2, 3), (3, 2031): datetime.date(2031, 3, 3), (4, 2031): datetime.date(2031, 4, 1), (5, 2031): datetime.date(2031, 5, 1), (6, 2031): datetime.date(2031, 6, 2), (7, 2031): datetime.date(2031, 7, 1), (8, 2031): datetime.date(2031, 8, 1), (9, 2031): datetime.date(2031, 9, 2), (10, 2031): datetime.date(2031, 10, 1), (11, 2031): datetime.date(2031, 11, 3), (12, 2031): datetime.date(2031, 12, 1), (1, 2032): datetime.date(2032, 1, 2), (2, 2032): datetime.date(2032, 2, 2), (3, 2032): datetime.date(2032, 3, 1), (4, 2032): datetime.date(2032, 4, 1), (5, 2032): datetime.date(2032, 5, 3), (6, 2032): datetime.date(2032, 6, 1), (7, 2032): datetime.date(2032, 7, 1), (8, 2032): datetime.date(2032, 8, 2), (9, 2032): datetime.date(2032, 9, 1), (10, 2032): datetime.date(2032, 10, 1), (11, 2032): datetime.date(2032, 11, 1), (12, 2032): datetime.date(2032, 12, 1), (1, 2033): datetime.date(2033, 1, 3), (2, 2033): datetime.date(2033, 2, 1), (3, 2033): datetime.date(2033, 3, 1), (4, 2033): datetime.date(2033, 4, 1), (5, 2033): datetime.date(2033, 5, 2), (6, 2033): datetime.date(2033, 6, 1), (7, 2033): datetime.date(2033, 7, 1), (8, 2033): datetime.date(2033, 8, 1), (9, 2033): datetime.date(2033, 9, 1), (10, 2033): datetime.date(2033, 10, 3), (11, 2033): datetime.date(2033, 11, 1), (12, 2033): datetime.date(2033, 12, 1), (1, 2034): datetime.date(2034, 1, 3), (2, 2034): datetime.date(2034, 2, 1), (3, 2034): datetime.date(2034, 3, 1), (4, 2034): datetime.date(2034, 4, 3), (5, 2034): datetime.date(2034, 5, 1), (6, 2034): datetime.date(2034, 6, 1), (7, 2034): datetime.date(2034, 7, 3), (8, 2034): datetime.date(2034, 8, 1), (9, 2034): datetime.date(2034, 9, 1), (10, 2034): datetime.date(2034, 10, 2), (11, 2034): datetime.date(2034, 11, 1), (12, 2034): datetime.date(2034, 12, 1), (1, 2035): datetime.date(2035, 1, 2), (2, 2035): datetime.date(2035, 2, 1), (3, 2035): datetime.date(2035, 3, 1), (4, 2035): datetime.date(2035, 4, 2), (5, 2035): datetime.date(2035, 5, 1), (6, 2035): datetime.date(2035, 6, 1), (7, 2035): datetime.date(2035, 7, 2), (8, 2035): datetime.date(2035, 8, 1), (9, 2035): datetime.date(2035, 9, 4), (10, 2035): datetime.date(2035, 10, 1), (11, 2035): datetime.date(2035, 11, 1), (12, 2035): datetime.date(2035, 12, 3), (1, 2036): datetime.date(2036, 1, 2), (2, 2036): datetime.date(2036, 2, 1), (3, 2036): datetime.date(2036, 3, 3), (4, 2036): datetime.date(2036, 4, 1), (5, 2036): datetime.date(2036, 5, 1), (6, 2036): datetime.date(2036, 6, 2), (7, 2036): datetime.date(2036, 7, 1), (8, 2036): datetime.date(2036, 8, 1), (9, 2036): datetime.date(2036, 9, 2), (10, 2036): datetime.date(2036, 10, 1), (11, 2036): datetime.date(2036, 11, 3), (12, 2036): datetime.date(2036, 12, 1), (1, 2037): datetime.date(2037, 1, 2), (2, 2037): datetime.date(2037, 2, 2), (3, 2037): datetime.date(2037, 3, 2), (4, 2037): datetime.date(2037, 4, 1), (5, 2037): datetime.date(2037, 5, 1), (6, 2037): datetime.date(2037, 6, 1), (7, 2037): datetime.date(2037, 7, 1), (8, 2037): datetime.date(2037, 8, 3), (9, 2037): datetime.date(2037, 9, 1), (10, 2037): datetime.date(2037, 10, 1), (11, 2037): datetime.date(2037, 11, 2), (12, 2037): datetime.date(2037, 12, 1), (1, 2038): datetime.date(2038, 1, 4), (2, 2038): datetime.date(2038, 2, 1), (3, 2038): datetime.date(2038, 3, 1), (4, 2038): datetime.date(2038, 4, 1), (5, 2038): datetime.date(2038, 5, 3), (6, 2038): datetime.date(2038, 6, 1), (7, 2038): datetime.date(2038, 7, 1), (8, 2038): datetime.date(2038, 8, 2), (9, 2038): datetime.date(2038, 9, 1), (10, 2038): datetime.date(2038, 10, 1), (11, 2038): datetime.date(2038, 11, 1), (12, 2038): datetime.date(2038, 12, 1), (1, 2039): datetime.date(2039, 1, 3), (2, 2039): datetime.date(2039, 2, 1), (3, 2039): datetime.date(2039, 3, 1), (4, 2039): datetime.date(2039, 4, 1), (5, 2039): datetime.date(2039, 5, 2), (6, 2039): datetime.date(2039, 6, 1), (7, 2039): datetime.date(2039, 7, 1), (8, 2039): datetime.date(2039, 8, 1), (9, 2039): datetime.date(2039, 9, 1), (10, 2039): datetime.date(2039, 10, 3), (11, 2039): datetime.date(2039, 11, 1), (12, 2039): datetime.date(2039, 12, 1), (1, 2040): datetime.date(2040, 1, 3), (2, 2040): datetime.date(2040, 2, 1), (3, 2040): datetime.date(2040, 3, 1), (4, 2040): datetime.date(2040, 4, 2), (5, 2040): datetime.date(2040, 5, 1), (6, 2040): datetime.date(2040, 6, 1), (7, 2040): datetime.date(2040, 7, 2), (8, 2040): datetime.date(2040, 8, 1), (9, 2040): datetime.date(2040, 9, 4), (10, 2040): datetime.date(2040, 10, 1), (11, 2040): datetime.date(2040, 11, 1), (12, 2040): datetime.date(2040, 12, 3), (1, 2041): datetime.date(2041, 1, 2), (2, 2041): datetime.date(2041, 2, 1), (3, 2041): datetime.date(2041, 3, 1), (4, 2041): datetime.date(2041, 4, 1), (5, 2041): datetime.date(2041, 5, 1), (6, 2041): datetime.date(2041, 6, 3), (7, 2041): datetime.date(2041, 7, 1), (8, 2041): datetime.date(2041, 8, 1), (9, 2041): datetime.date(2041, 9, 3), (10, 2041): datetime.date(2041, 10, 1), (11, 2041): datetime.date(2041, 11, 1), (12, 2041): datetime.date(2041, 12, 2), (1, 2042): datetime.date(2042, 1, 2), (2, 2042): datetime.date(2042, 2, 3), (3, 2042): datetime.date(2042, 3, 3), (4, 2042): datetime.date(2042, 4, 1), (5, 2042): datetime.date(2042, 5, 1), (6, 2042): datetime.date(2042, 6, 2), (7, 2042): datetime.date(2042, 7, 1), (8, 2042): datetime.date(2042, 8, 1), (9, 2042): datetime.date(2042, 9, 2), (10, 2042): datetime.date(2042, 10, 1), (11, 2042): datetime.date(2042, 11, 3), (12, 2042): datetime.date(2042, 12, 1), (1, 2043): datetime.date(2043, 1, 2), (2, 2043): datetime.date(2043, 2, 2), (3, 2043): datetime.date(2043, 3, 2), (4, 2043): datetime.date(2043, 4, 1), (5, 2043): datetime.date(2043, 5, 1), (6, 2043): datetime.date(2043, 6, 1), (7, 2043): datetime.date(2043, 7, 1), (8, 2043): datetime.date(2043, 8, 3), (9, 2043): datetime.date(2043, 9, 1), (10, 2043): datetime.date(2043, 10, 1), (11, 2043): datetime.date(2043, 11, 2), (12, 2043): datetime.date(2043, 12, 1), (1, 2044): datetime.date(2044, 1, 4), (2, 2044): datetime.date(2044, 2, 1), (3, 2044): datetime.date(2044, 3, 1), (4, 2044): datetime.date(2044, 4, 1), (5, 2044): datetime.date(2044, 5, 2), (6, 2044): datetime.date(2044, 6, 1), (7, 2044): datetime.date(2044, 7, 1), (8, 2044): datetime.date(2044, 8, 1), (9, 2044): datetime.date(2044, 9, 1), (10, 2044): datetime.date(2044, 10, 3), (11, 2044): datetime.date(2044, 11, 1), (12, 2044): datetime.date(2044, 12, 1), (1, 2045): datetime.date(2045, 1, 3), (2, 2045): datetime.date(2045, 2, 1), (3, 2045): datetime.date(2045, 3, 1), (4, 2045): datetime.date(2045, 4, 3), (5, 2045): datetime.date(2045, 5, 1), (6, 2045): datetime.date(2045, 6, 1), (7, 2045): datetime.date(2045, 7, 3), (8, 2045): datetime.date(2045, 8, 1), (9, 2045): datetime.date(2045, 9, 1), (10, 2045): datetime.date(2045, 10, 2), (11, 2045): datetime.date(2045, 11, 1), (12, 2045): datetime.date(2045, 12, 1), (1, 2046): datetime.date(2046, 1, 2), (2, 2046): datetime.date(2046, 2, 1), (3, 2046): datetime.date(2046, 3, 1), (4, 2046): datetime.date(2046, 4, 2), (5, 2046): datetime.date(2046, 5, 1), (6, 2046): datetime.date(2046, 6, 1), (7, 2046): datetime.date(2046, 7, 2), (8, 2046): datetime.date(2046, 8, 1), (9, 2046): datetime.date(2046, 9, 4), (10, 2046): datetime.date(2046, 10, 1), (11, 2046): datetime.date(2046, 11, 1), (12, 2046): datetime.date(2046, 12, 3), (1, 2047): datetime.date(2047, 1, 2), (2, 2047): datetime.date(2047, 2, 1), (3, 2047): datetime.date(2047, 3, 1), (4, 2047): datetime.date(2047, 4, 1), (5, 2047): datetime.date(2047, 5, 1), (6, 2047): datetime.date(2047, 6, 3), (7, 2047): datetime.date(2047, 7, 1), (8, 2047): datetime.date(2047, 8, 1), (9, 2047): datetime.date(2047, 9, 3), (10, 2047): datetime.date(2047, 10, 1), (11, 2047): datetime.date(2047, 11, 1), (12, 2047): datetime.date(2047, 12, 2), (1, 2048): datetime.date(2048, 1, 2), (2, 2048): datetime.date(2048, 2, 3), (3, 2048): datetime.date(2048, 3, 2), (4, 2048): datetime.date(2048, 4, 1), (5, 2048): datetime.date(2048, 5, 1), (6, 2048): datetime.date(2048, 6, 1), (7, 2048): datetime.date(2048, 7, 1), (8, 2048): datetime.date(2048, 8, 3), (9, 2048): datetime.date(2048, 9, 1), (10, 2048): datetime.date(2048, 10, 1), (11, 2048): datetime.date(2048, 11, 2), (12, 2048): datetime.date(2048, 12, 1), (1, 2049): datetime.date(2049, 1, 4), (2, 2049): datetime.date(2049, 2, 1), (3, 2049): datetime.date(2049, 3, 1), (4, 2049): datetime.date(2049, 4, 1), (5, 2049): datetime.date(2049, 5, 3), (6, 2049): datetime.date(2049, 6, 1), (7, 2049): datetime.date(2049, 7, 1), (8, 2049): datetime.date(2049, 8, 2), (9, 2049): datetime.date(2049, 9, 1), (10, 2049): datetime.date(2049, 10, 1), (11, 2049): datetime.date(2049, 11, 1), (12, 2049): datetime.date(2049, 12, 1), (1, 2050): datetime.date(2050, 1, 3), (2, 2050): datetime.date(2050, 2, 1), (3, 2050): datetime.date(2050, 3, 1), (4, 2050): datetime.date(2050, 4, 1), (5, 2050): datetime.date(2050, 5, 2), (6, 2050): datetime.date(2050, 6, 1), (7, 2050): datetime.date(2050, 7, 1), (8, 2050): datetime.date(2050, 8, 1), (9, 2050): datetime.date(2050, 9, 1), (10, 2050): datetime.date(2050, 10, 3), (11, 2050): datetime.date(2050, 11, 1), (12, 2050): datetime.date(2050, 12, 1), (1, 2051): datetime.date(2051, 1, 3), (2, 2051): datetime.date(2051, 2, 1), (3, 2051): datetime.date(2051, 3, 1), (4, 2051): datetime.date(2051, 4, 3), (5, 2051): datetime.date(2051, 5, 1), (6, 2051): datetime.date(2051, 6, 1), (7, 2051): datetime.date(2051, 7, 3), (8, 2051): datetime.date(2051, 8, 1), (9, 2051): datetime.date(2051, 9, 1), (10, 2051): datetime.date(2051, 10, 2), (11, 2051): datetime.date(2051, 11, 1), (12, 2051): datetime.date(2051, 12, 1), (1, 2052): datetime.date(2052, 1, 2), (2, 2052): datetime.date(2052, 2, 1), (3, 2052): datetime.date(2052, 3, 1), (4, 2052): datetime.date(2052, 4, 1), (5, 2052): datetime.date(2052, 5, 1), (6, 2052): datetime.date(2052, 6, 3), (7, 2052): datetime.date(2052, 7, 1), (8, 2052): datetime.date(2052, 8, 1), (9, 2052): datetime.date(2052, 9, 3), (10, 2052): datetime.date(2052, 10, 1), (11, 2052): datetime.date(2052, 11, 1), (12, 2052): datetime.date(2052, 12, 2), (1, 2053): datetime.date(2053, 1, 2), (2, 2053): datetime.date(2053, 2, 3), (3, 2053): datetime.date(2053, 3, 3), (4, 2053): datetime.date(2053, 4, 1), (5, 2053): datetime.date(2053, 5, 1), (6, 2053): datetime.date(2053, 6, 2), (7, 2053): datetime.date(2053, 7, 1)}

In [55]:
inforce_df

,TempHedgeDt,CompID,PolicyNum,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate
0,2023-11-01,1,UE000006,1U145500,INX150,NaN,19.65,2023-11-01
1,2023-12-01,1,UE000006,1U145500,INX150,231.18,NaN,2023-12-01
2,2024-01-01,1,UE000006,1U145500,INX150,230.15,NaN,2024-01-02
3,2024-02-01,1,UE000006,1U145500,INX150,235.35,NaN,2024-02-01
4,2024-03-01,1,UE000006,1U145500,INX150,273.14,NaN,2024-03-01
...,...,...,...,...,...,...,...,...
1407937,2024-11-01,1,U0982392,1U147800,INXLOM,6.97,NaN,2024-11-01
1407938,2024-11-01,1,U0982392,1U147800,INXHIM,6.83,NaN,2024-11-01
1407939,2024-11-01,1,U0982392,1U147800,INDEX,7.12,NaN,2024-11-01
1407940,2024-11-01,1,U0982392,1U147800,MARPRT,7.12,NaN,2024-11-01
1407941,2024-11-01,1,U0982392,1U147800,NASIDX,7.18,NaN,2024-11-01

In [49]:
inforce_df['Indicator'].unique()

array(['INX150', 'INXFEE', 'INDEX', 'INXSPC', 'INXLOM', 'INXHIM',
       'MARPRT', 'NASIDX'], dtype=object)

In [34]:
inforce_df['Plan'].unique()

array(['1U145500', '1U145800', '1U144700', nan, '1U146800', '1U147500',
       '1U147400', '1U147800', '1U144600', '1U144800', '1U145600',
       '1U145900', '1U146900', '1U148000', '1U148100'], dtype=object)

In [ ]:
inforce_df[inforce_df['Plan'].isna()]

,TempHedgeDt,CompID,PolicyNum,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit
98434,2024-02-01,1,UE021997,NaN,INXFEE,14.24,NaN
98435,2024-03-01,1,UE021997,NaN,INXFEE,14.77,NaN
98436,2024-04-01,1,UE021997,NaN,INXFEE,18.88,NaN
98437,2024-05-01,1,UE021997,NaN,INXFEE,59.94,NaN
98438,2024-06-01,1,UE021997,NaN,INXFEE,60.70,NaN
...,...,...,...,...,...,...,...
1372573,2024-09-01,1,U0974854,NaN,INXFEE,366.66,NaN
1372574,2024-10-01,1,U0974854,NaN,INXFEE,401.23,NaN
1372575,2024-10-01,1,U0974854,NaN,INXFEE,401.23,NaN
1372576,2024-11-01,1,U0974854,NaN,INXFEE,393.12,NaN
1372577,2024-11-01,1,U0974854,NaN,INXFEE,393.12,NaN

In [ ]:
# inforce_df[inforce_df['Plan'].isna()].groupby(['PolicyNum', 'Indicator']).agg({'TempHedgeDt':'count', 'Base_Liab_Ntnl': 'sum'})

                     TempHedgeDt  Base_Liab_Ntnl
PolicyNum Indicator
U0652227  INDEX               27        3,658.28
U0652231  INDEX               27        2,644.95
U0652232  INDEX               27       30,428.71
U0670693  INDEX               27        5,243.53
U0670708  INDEX               27       12,558.98
...                          ...             ...
UPE00006  INDEX                1       54,697.59
UPE00008  INDEX               13       11,219.01
          INX150              13       25,320.63
          INXFEE              13       12,382.54
          INXSPC              13        3,685.88

[988 rows x 2 columns]

In [50]:
inforce_df[inforce_df['Plan'].isna()].groupby(['TempHedgeDt', 'Indicator']).agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum'}) #.to_clipboard()

                       PolicyNum  Base_Liab_Ntnl
TempHedgeDt Indicator
2023-11-01  INDEX           1756            0.00
            INX150            81            0.00
            INXFEE            32            0.00
            INXSPC             8            0.00
2023-12-01  INDEX           1720      285,372.03
            INX150            56       10,473.69
            INXFEE            29        5,006.10
            INXSPC             9          907.13
2024-01-01  INDEX           1734      628,503.23
            INX150            77       18,667.96
            INXFEE            32       12,753.64
            INXSPC             8        1,991.81
2024-02-01  INDEX           1742      655,751.07
            INX150            81       23,866.28
            INXFEE            33        9,327.73
            INXSPC             8          852.06
2024-03-01  INDEX           1744      660,062.36
            INX150            81       17,266.87
            INXFEE            33       12,327.09
            INXSPC             8        1,563.25
2024-04-01  INDEX           1761      797,734.84
            INX150            79       25,686.07
            INXFEE            32       16,232.42
            INXSPC             7        1,537.49
2024-05-01  INDEX           1747      645,111.06
            INX150            81       32,671.31
            INXFEE            33        9,449.27
            INXSPC             8        1,899.00
2024-06-01  INDEX           1737      849,851.09
            INX150            80       22,855.93
            INXFEE            31       14,269.38
            INXSPC             8        2,063.05
2024-07-01  INDEX           1729      721,681.34
            INX150            81       31,456.01
            INXFEE            33       16,188.85
            INXSPC             8        2,391.60
2024-08-01  INDEX           1665      741,285.74
            INX150            79       27,932.25
            INXFEE            33       15,536.53
            INXSPC             8        2,449.29
2024-09-01  INDEX           1679      757,385.23
            INX150            81       31,031.37
            INXFEE            33       14,821.45
            INXSPC             8        1,680.37
2024-10-01  INDEX           1707      690,704.79
            INX150            81       25,702.11
            INXFEE            33       12,046.02
            INXSPC             8        1,495.20
2024-11-01  INDEX           1715      782,576.95
            INX150            81       22,057.42
            INXFEE            33       15,962.06
            INXSPC             7        1,893.91
2024-12-01  INDEX            816      293,526.99
            INX150            18        4,168.22
            INXFEE            10        3,525.97
            INXSPC             1          227.63

In [45]:
inforce_df[inforce_df['PolicyNum']=='UE021997']

      TempHedgeDt  CompID PolicyNum Plan Indicator  Base_Liab_Ntnl  Idx_Credit
98434  2024-02-01       1  UE021997  NaN    INXFEE           14.24         NaN
98435  2024-03-01       1  UE021997  NaN    INXFEE           14.77         NaN
98436  2024-04-01       1  UE021997  NaN    INXFEE           18.88         NaN
98437  2024-05-01       1  UE021997  NaN    INXFEE           59.94         NaN
98438  2024-06-01       1  UE021997  NaN    INXFEE           60.70         NaN
98439  2024-07-01       1  UE021997  NaN    INXFEE           62.68         NaN
98440  2024-08-01       1  UE021997  NaN    INXFEE           59.36         NaN
98441  2024-09-01       1  UE021997  NaN    INXFEE           62.37         NaN
98442  2024-10-01       1  UE021997  NaN    INXFEE           68.18         NaN
98443  2024-11-01       1  UE021997  NaN    INXFEE           10.12         NaN
98444  2023-11-01       1  UE021997  NaN     INDEX             NaN        3.03
98445  2023-12-01       1  UE021997  NaN     INDEX           30.12         NaN
98446  2024-01-01       1  UE021997  NaN     INDEX           33.53         NaN
98447  2024-02-01       1  UE021997  NaN     INDEX           51.30         NaN
98448  2024-03-01       1  UE021997  NaN     INDEX           47.81         NaN
98449  2024-04-01       1  UE021997  NaN     INDEX           48.20         NaN
98450  2024-05-01       1  UE021997  NaN     INDEX           56.34         NaN
98451  2024-06-01       1  UE021997  NaN     INDEX           57.03         NaN
98452  2024-07-01       1  UE021997  NaN     INDEX           59.07         NaN
98453  2024-08-01       1  UE021997  NaN     INDEX           59.11         NaN
98454  2024-09-01       1  UE021997  NaN     INDEX           59.22         NaN
98455  2024-10-01       1  UE021997  NaN     INDEX           59.03         NaN
98456  2024-11-01       1  UE021997  NaN     INDEX           44.26         NaN

In [ ]:
inforce_df.dtypes

TCH_POL_ID             object
CK_CMP_CD               int64
CK_SYS_CD              object
CSV_AMT               float64
FND_ID_CD              object
FND_VAL_PHA_NBR         int64
ITS_PER_STR_DT         object
ITS_PER_END_DT         object
MVRY_DT                object
TOT_CRE_ITS_AMT       float64
VAL_CUR_ASOF_DT        object
PLN_BSE_SRE_CD        float64
LIF_PLN_SUB_SRE_CD     object
PLN_DES_SER_CD         object
INS_CLS_CD            float64
SVC_AGC_NBR            object
PRM_PAY_STA_REA_CD      int64
FUZGREIN_IND           object
dtype: object

In [ ]:
inforce_df.MVRY_DT.unique()

array(['2024-11-23', '2024-11-09', '2024-11-20', '2024-11-17',
       '2024-11-06', '2024-11-18', '2024-11-22', '2024-11-24',
       '2024-11-11', '2024-11-28', '2024-11-15', '2024-11-27',
       '2024-11-26', '2024-11-08', '2024-11-25', '2024-11-12',
       '2024-11-14', '2024-11-05', '2024-11-19', '2024-11-21',
       '2024-11-07', '2024-11-02', '2024-12-02', '2024-11-16',
       '2024-11-01', '2024-12-01', '2024-11-13', '2024-11-04',
       '2024-11-03', '2024-11-10', '2024-11-30', '2024-11-29'],
      dtype=object)

In [9]:
inforce_df.VAL_CUR_ASOF_DT.unique()

array(['2024-11-23', '2024-11-09', '2024-11-20', '2024-11-17',
       '2024-11-06', '2024-11-18', '2024-11-22', '2024-11-24',
       '2024-11-11', '2024-11-28', '2024-11-15', '2024-11-27',
       '2024-11-26', '2024-11-08', '2024-11-25', '2024-11-12',
       '2024-11-14', '2024-11-05', '2024-11-19', '2024-11-21',
       '2024-11-07', '2024-11-02', '2024-12-02', '2024-11-16',
       '2024-11-01', '2024-12-01', '2024-11-13', '2024-11-04',
       '2024-11-03', '2024-11-10', '2024-11-30', '2024-11-29'],
      dtype=object)

In [10]:
inforce_df.FUZGREIN_IND.unique()

array(['R'], dtype=object)

In [11]:
inforce_df.ITS_PER_STR_DT.unique()

array(['2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01',
       '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
       '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
       '2024-11-01', '2024-12-01'], dtype=object)

In [14]:
inforce_df.CK_SYS_CD.unique()

array(['I'], dtype=object)

In [ ]:
inforce_df.CK_SYS_CD.unique()

In [15]:
inforce_df.LIF_PLN_SUB_SRE_CD.unique()

array(['FN', 'MN', 'MS', 'FT', 'MR', 'FS', 'FR', 'MP', 'FP', 'MQ', 'MT',
       'FQ', 'UT', 'UN', nan, 'YN', 'UR', 'YP', 'YR', 'YS', 'YT', 'US',
       'XN', 'UP', 'UQ', 'XS', 'XR', 'XP', 'XT', 'XQ'], dtype=object)

In [16]:
inforce_df.INS_CLS_CD.unique()

array([ 1., nan])

In [17]:
inforce_df.PRM_PAY_STA_REA_CD.unique()

array([22])

In [13]:
inforce_df

,TCH_POL_ID,CK_CMP_CD,CK_SYS_CD,CSV_AMT,FND_ID_CD,FND_VAL_PHA_NBR,ITS_PER_STR_DT,ITS_PER_END_DT,MVRY_DT,TOT_CRE_ITS_AMT,VAL_CUR_ASOF_DT,PLN_BSE_SRE_CD,LIF_PLN_SUB_SRE_CD,PLN_DES_SER_CD,INS_CLS_CD,SVC_AGC_NBR,PRM_PAY_STA_REA_CD,FUZGREIN_IND
0,UE000006 PU11,1,I,NaN,IC,82,2023-11-01,2799-12-31,2024-11-23,19.65,2024-11-23,455.00,FN,1U145500,1.00,76EE08HX00,22,R
1,UE000006 PU11,1,I,231.18,IC,83,2023-12-01,2799-12-31,2024-11-23,NaN,2024-11-23,455.00,FN,1U145500,1.00,76EE08HX00,22,R
2,UE000006 PU11,1,I,230.15,IC,84,2024-01-01,2799-12-31,2024-11-23,NaN,2024-11-23,455.00,FN,1U145500,1.00,76EE08HX00,22,R
3,UE000006 PU11,1,I,235.35,IC,85,2024-02-01,2799-12-31,2024-11-23,NaN,2024-11-23,455.00,FN,1U145500,1.00,76EE08HX00,22,R
4,UE000006 PU11,1,I,273.14,IC,86,2024-03-01,2799-12-31,2024-11-23,NaN,2024-11-23,455.00,FN,1U145500,1.00,76EE08HX00,22,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407937,U0982392 X9IH,1,I,6.97,IP,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478.00,FN,1U147800,1.00,79NV0CRX00,22,R
1407938,U0982392 X9IH,1,I,6.83,IR,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478.00,FN,1U147800,1.00,79NV0CRX00,22,R
1407939,U0982392 X9IH,1,I,7.12,IX,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478.00,FN,1U147800,1.00,79NV0CRX00,22,R
1407940,U0982392 X9IH,1,I,7.12,M1,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478.00,FN,1U147800,1.00,79NV0CRX00,22,R
1407941,U0982392 X9IH,1,I,7.18,NX,1,2024-11-01,2799-12-31,2024-11-26,NaN,2024-11-26,478.00,FN,1U147800,1.00,79NV0CRX00,22,R

In [38]:
inf_filter_dt = date(2024, 12, 1)
inforce_df[inforce_df['HedgeDate']==inf_filter_dt].Base_Liab_Ntnl.sum()

np.float64(8296429.4399999995)

In [41]:
inforce_df[inforce_df['HedgeDate']==inf_filter_dt].count()

HedgeDate         12310
CompID            12310
PolicyNum         12310
Plan              11465
FND_ID_CD         12310
Base_Liab_Ntnl    12310
Idx_Credit            0
dtype: int64

In [49]:

inforce_df.loc[(inforce_df['HedgeDate']==inf_filter_dt) & (inforce_df['PolicyNum']=='UE000006')]

Empty DataFrame
Columns: [HedgeDate, CompID, PolicyNum, Plan, FND_ID_CD, Base_Liab_Ntnl, Idx_Credit]
Index: []

In [53]:
# inforce_df[inforce_df['PolicyNum']=='UE000006']

In [68]:
# inforce_df[inforce_df['HedgeDate']==inf_filter_dt].groupby(['HedgeDate', 'CompID', 'FND_ID_CD']).agg({'Base_Liab_Ntnl':'sum'})
# inforce_df[inforce_df['HedgeDate']==inf_filter_dt].groupby(['HedgeDate','FND_ID_CD']).agg({'Base_Liab_Ntnl':'sum'})
inforce_df[inforce_df['HedgeDate']==inf_filter_dt].groupby(['HedgeDate','Indicator']).agg({'Base_Liab_Ntnl':'sum'}).to_clipboard()

In [55]:
inforce_df.groupby('HedgeDate').agg({'Base_Liab_Ntnl':'sum'})

            Base_Liab_Ntnl
HedgeDate
2023-11-01            0.00
2023-12-01   54,693,943.19
2024-01-01   66,238,531.57
2024-02-01   67,012,137.98
2024-03-01   62,206,744.35
2024-04-01   64,075,946.34
2024-05-01   60,699,068.26
2024-06-01   60,537,124.57
2024-07-01   71,232,666.40
2024-08-01   66,930,687.01
2024-09-01   68,579,905.84
2024-10-01   79,104,870.26
2024-11-01   78,967,922.52
2024-12-01    8,296,429.44

In [ ]:
def parse_date(date_string, formats):
    """
    Parses a date string using a list of potential formats.

    Args:
        date_string: The string containing the date.
        formats: A list of date format strings.

    Returns:
        A datetime object if parsing is successful, otherwise None.
    """
    for fmt in formats:
        try:
            return datetime.datetime.strptime(date_string, fmt)
        except ValueError:
            continue
    return None

def resolve_inforce_date(inforce_file_path: Optional[Union[str, None]] = None, inforce_file_date: Optional[Union[str, datetime.date, None]] = None):
        """
        Cases:
        1) If inforce_file_date is not None, use it or throw error if it can't be parsed or isn't a date
        2) If inforce_file_date is None, if hedge_file is not None, try and extract date info from file name (check if valid after extracting)
        3) If inforce_file_date and hedge_file are both None, then lookup the hedge date based on the current day and month           
        """            
        inf_dt = None

        if inforce_file_date:
            
            if isinstance(inforce_file_date, datetime.date):
                
                print('inforce_file_date is a date!')
                # Make sure the inforce date is the 1st of the month
                inf_dt = date(inforce_file_date.year, inforce_file_date.month, 1)
                
            elif isinstance(inforce_file_date, str):

                print('inforce_file_date is a str')                
                dt_formats = ["%Y-%m-%d %H:%M:%S", "%m/%d/%Y", "%d %b %Y", "%Y%m%d", "%Y-%m-%d", "%Y-%m-%D"]
                # EG) date_string = "2023-12-11"
                inf_dt = parse_date(inforce_file_date, dt_formats)

                # Make sure the inforce date is the 1st of the month
                inf_dt = date(inf_dt.year, inf_dt.month, 1)
                # inf_date = datetime.strptime(inforce_file_date, date_format).date()
                #   dt.datetime.today().strftime("%Y-%m-%d")
                                        
        else:
             
             if inforce_file_path:
                # Should really check first if this is actually a file and not just a path
                print('inforce_file_date is None but path was entered')
                inf_file_name = os.path.basename(inforce_file_path)
                hdg_mth = int(inf_file_name[:2])
                hdg_yr = int(inf_file_name[3:7])
                inf_dt = date(hdg_yr, hdg_mth, 1)
                return inf_dt
             else:
                print('inforce_file_date is None and path is None')
                # Get the 1st of the month for this month
                inf_dt = datetime.datetime.today()
                inf_dt = date(inf_dt.year, inf_dt.month, 1)

        return inf_dt


test_path = None
test_dt_1 = datetime.datetime.today()
print(resolve_inforce_date(test_path, test_dt_1))

test_path = None
test_dt_1 = date(2024, 12, 17)
print(resolve_inforce_date(test_path, test_dt_1))

test_path = None
test_dt_1 = '2024-12-5'
print(resolve_inforce_date(test_path, test_dt_1))

test_path = None
test_dt_1 = '2024-12-05'
print(resolve_inforce_date(test_path, test_dt_1))

test_path = None
test_dt_1 = '2024125'
print(resolve_inforce_date(test_path, test_dt_1))

test_path = None
test_dt_1 = '20241205'
print(resolve_inforce_date(test_path, test_dt_1))

test_path = None
test_dt_1 = None
print(resolve_inforce_date(test_path, test_dt_1))

test_path = r'C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\12_2024_IUL_Fund_Values_RGA.txt'
test_dt_1 = None
print(resolve_inforce_date(test_path, test_dt_1))

inforce_file_date is a date!
2024-12-01
inforce_file_date is a date!
2024-12-01
inforce_file_date is a str
2024-12-01
inforce_file_date is a str
2024-12-01
inforce_file_date is a str
2024-12-01
inforce_file_date is a str
2024-12-01
inforce_file_date is None and path is None
2024-12-01
inforce_file_date is None but path was entered
2024-12-01

In [26]:
def get_default_inforce_file(dt: date):

    __inforce_file_path = "\\\\rgare.net\\stlcommon\\ADMIN\\NonTrad\\CIMBA\\CIMBA Prod\\Anico\\Imported Client Files"

    # self.inforce_dt should be set before calling this
    yr = str(dt.year)
    mth = dt.month
    mth = ('0' if mth < 10 else '') + str(mth)
    
    inf_file_name = mth + '_' + yr + '_IUL_Fund_Values_RGA.txt'

    return os.path.join(__inforce_file_path, inf_file_name)

In [27]:
test_dt_1 = date(2024, 5, 7)
print(get_default_inforce_file(test_dt_1))

test_dt_1 = date(2024, 12, 7)
print(get_default_inforce_file(test_dt_1))

\\rgare.net\stlcommon\ADMIN\NonTrad\CIMBA\CIMBA Prod\Anico\Imported Client Files\05_2024_IUL_Fund_Values_RGA.txt
\\rgare.net\stlcommon\ADMIN\NonTrad\CIMBA\CIMBA Prod\Anico\Imported Client Files\12_2024_IUL_Fund_Values_RGA.txt

False

In [6]:
test_inf[test_inf['TCH_POL_ID'].str.startswith('UE000260')]

,TCH_POL_ID,CK_CMP_CD,CK_SYS_CD,CSV_AMT,FND_ID_CD,FND_VAL_PHA_NBR,ITS_PER_STR_DT,ITS_PER_END_DT,MVRY_DT,TOT_CRE_ITS_AMT,VAL_CUR_ASOF_DT,PLN_BSE_SRE_CD,LIF_PLN_SUB_SRE_CD,PLN_DES_SER_CD,INS_CLS_CD,SVC_AGC_NBR,PRM_PAY_STA_REA_CD,FUZGREIN_IND
1001,UE000260 38FF,1,I,NaN,IX,80,2023-11-01,2799-12-31,2024-11-01,264.71,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1002,UE000260 38FF,1,I,NaN,IX,80,2023-11-01,2799-12-31,2024-12-01,264.71,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1003,UE000260 38FF,1,I,"5,068.05",IX,81,2023-12-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1004,UE000260 38FF,1,I,NaN,IX,81,2023-12-01,2799-12-31,2024-12-01,367.43,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1005,UE000260 38FF,1,I,"10,476.66",IX,82,2024-01-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1006,UE000260 38FF,1,I,"10,476.66",IX,82,2024-01-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1007,UE000260 38FF,1,I,"6,232.10",IX,83,2024-02-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1008,UE000260 38FF,1,I,"6,232.10",IX,83,2024-02-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1009,UE000260 38FF,1,I,"6,027.03",IX,84,2024-03-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1010,UE000260 38FF,1,I,"6,027.03",IX,84,2024-03-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1011,UE000260 38FF,1,I,"9,123.01",IX,85,2024-04-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1012,UE000260 38FF,1,I,"9,123.01",IX,85,2024-04-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1013,UE000260 38FF,1,I,"6,901.09",IX,86,2024-05-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1014,UE000260 38FF,1,I,"6,901.09",IX,86,2024-05-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1015,UE000260 38FF,1,I,"5,984.95",IX,87,2024-06-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1016,UE000260 38FF,1,I,"5,984.95",IX,87,2024-06-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1017,UE000260 38FF,1,I,"6,206.52",IX,88,2024-07-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1018,UE000260 38FF,1,I,"6,206.52",IX,88,2024-07-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1019,UE000260 38FF,1,I,"5,195.78",IX,89,2024-08-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1020,UE000260 38FF,1,I,"5,195.78",IX,89,2024-08-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1021,UE000260 38FF,1,I,"36,847.33",IX,90,2024-09-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1022,UE000260 38FF,1,I,"36,847.33",IX,90,2024-09-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1023,UE000260 38FF,1,I,"6,039.39",IX,91,2024-10-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1024,UE000260 38FF,1,I,"6,039.39",IX,91,2024-10-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1025,UE000260 38FF,1,I,"4,635.46",IX,92,2024-11-01,2799-12-31,2024-11-01,NaN,2024-11-01,458,MN,1U145800,1,7B9V0V9B00,22,R
1026,UE000260 38FF,1,I,"4,635.46",IX,92,2024-11-01,2799-12-31,2024-12-01,NaN,2024-12-01,458,MN,1U145800,1,7B9V0V9B00,22,R